schemas/CCModule.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
          ns="https://niap-ccevs.org/cc/v1"
          datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
          xmlns:h="http://www.w3.org/1999/xhtml"
          xmlns="http://relaxng.org/ns/structure/1.0"
>

  <include href="Commons.rng">
<!--
    <define name="SO">
      <element name="SO">
    <a:documentation>
	  Entry for a security objective
	</a:documentation>
	<optional><ref name="id-attr"/></optional>
        <attribute name="cc-id">
          <data type="string">
            <param name="pattern">O\.[A-Z_]+</param>
          </data>
        </attribute>
    <choice>
        <ref name="description"/>
        <oneOrMore>
          <element name="from-base">
            <optional><attribute name="ref"/></optional>
          </element>
        </oneOrMore>
    </choice>
        <element name="addressed-by">
          <ref name="basic-content-pat"/>
        </element>
	<ref name="consistency-rationale"/>
      </element>
    </define>

    <define name="threat">
	    <element name="threat">
	      <a:documentation>
		Omitting the description supresses the threat from being included in the
		threat section (but it will still be included in the security objectives
		rationale table).
	      </a:documentation>
	      <optional><ref name="id-attr"/></optional>
              <ref name="threat-name-attr"/>
	      <optional>
		<ref name="description"/>
	      </optional>
	      <optional>
		<element name="consistency-rationale">
		  <a:documentation>
		  </a:documentation>
		  <ref name="basic-content-pat"/>
		</element>
	      </optional>
              <oneOrMore>
                <ref name="objective-refer"/>
              </oneOrMore>
	    </element>
    </define>	
-->
    <define name="origin-pat">
       <choice>
          <ref name="description"/>
          <ref name="from"/>
       </choice>
    </define>
    <define name="consistency-rationale-placeholder">
      <ref name="consistency-rationale"/>
    </define>
  </include>

<!--############################## -->
<!--      START                    -->
<!--############################## -->
  <start>
    <element name="Module">
      <a:documentation>
	Root element for a Protection Profile Module.
      </a:documentation>
      <ref name="module-attributes-pat"/>
      <ref name="PPRefAndRevision"/>
      <ref name="IntroductionChapter"/>
      <ref name="CClaimsChapter"/>
      <ref name="SecProbDesChapter"/>
      <ref name="SecObjChapter"/>
      <ref name="SecReqChapter"/>
      <ref name="additional-appendices"/>
      <ref name="bibliography"/>
      <ref name="acronyms"/>
    </element>
  </start>

  <define name="additional-appendices">
    <optional>
      <element name="appendix">
        <ref name="id-attr"/>
        <attribute name="title">
           <value>Use Case Templates</value>
        </attribute>
        <ref name="basic-content-pat"/>
        <oneOrMore>
          <ref name="usecase"/>
          <ref name="basic-content-pat"/>
        </oneOrMore>
      </element>
    </optional>

    <zeroOrMore>
      <ref name="appendix"/>
    </zeroOrMore>
  </define>

  <define name="appendix">
    <a:documentation>
      Pattern for title attribute.
    </a:documentation>
    <element name="appendix">
      <a:documentation>
	Element that defines an appendix.
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <oneOrMore>
        <choice>
	  <ref name="basic-content-pat"/>
          <ref name="section"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="section">
    <element name="section">
      <a:documentation>
	A block smaller than a chapter.
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <choice>
	<ref name="basic-content-pat"/>
	<ref name="subsection-pattern"/>
      </choice>
    </element>
  </define>

  <define name="module-attributes-pat">
    <attribute name="name"></attribute>
    <attribute name="target-products"></attribute>
    <ref name="boilerplate-pat"/>
  </define>


  <define name="man-sfrs">
    <element name="man-sfrs">
      <a:documentation>
	Mandatory SFRs. These apply to all configurations regardless of base PPs.
      </a:documentation>
      <optional>
         <ref name="description"/>
      </optional>
      <ref name="f-components-pat"/>
    </element>
  </define>

  <define name="obj-sfrs">
    <element name="obj-sfrs">
      <a:documentation>
	Objective SFRs. These apply to all configurations regardless of base PPs.
      </a:documentation>
      <ref name="f-components-pat"/>
    </element>
  </define>

  <define name="opt-sfrs">
    <element name="opt-sfrs">
      <a:documentation>
	Optional SFRs. These could apply to all configurations regardless of base PPs.
      </a:documentation>
      <ref name="f-components-pat"/>
    </element>
  </define>

  <define name="sel-sfrs">
    <element name="sel-sfrs">
      <a:documentation>
	Selection-based SFRs. These can apply to any configuration regardless of base PPs.
      </a:documentation>
      <ref name="f-components-pat"/>
      <!--
	   This is probably the right way to do it, but
	   it's too drastic of a change currently (and
	   removing the selection-depends elements from
	   inside the f-components).
      -->
      <!--   <zeroOrMore> -->
      <!-- 	<element name="dependency"> -->
      <!-- 	  <attribute name="ids"> -->
      <!-- 	  </attribute> -->
      <!-- 	  <ref name="f-component"/> -->
      <!-- 	</element> -->
      <!--   </zeroOrMore> -->
    </element>

  </define>

  <define name="f-components-pat">
    <zeroOrMore>
      <element name="subsection">
        <a:documentation>
          Defines SFRs that pertain to specific base.
        </a:documentation>
        <ref name="title-attr"/>
        <ref name="id-attr"/>
        <optional><ref name="description"/></optional>
        <zeroOrMore>
          <ref name="ext-comp-def-pat"/>
          <ref name="f-component"/>
        </zeroOrMore>
      </element>
    </zeroOrMore>
  </define>

  <define name="ext-comp-def-pat">
    <zeroOrMore>
	    <element name="ext-comp-def">
        <a:documentation>
          Extended Component Definition
        </a:documentation>
        <attribute name="fam-id">
          <ref name="fam-id-spat"/>
        </attribute>
        <attribute name="title">
        </attribute>
        <choice>
          <element name="mod-def">
            <a:documentation>
Modification definition. This text goes in the
'Extended Components Definitions'.
            </a:documentation>
            <ref name="basic-content-pat"/>
          </element>
          <element name="fam-behavior">
            <ref name="basic-content-pat"/>
          </element>
        </choice>
      </element>
    </zeroOrMore>
  </define>

  <define name="ext-comp-extra-pat">
    <optional>
      <element name="comp-lev">
        <ref name="basic-content-pat"/>
      </element>
    </optional>
    <optional>
      <element name="management">
        <ref name="basic-content-pat"/>
      </element>
    </optional>
    <optional>
      <element name="audit">
        <ref name="basic-content-pat"/>
      </element>
    </optional>
    <optional>
      <element name="dependencies">
        <ref name="basic-content-pat"/>
      </element>
    </optional>
  </define>

  <define name="f-component">
    <element name="f-component">
      <a:document>
	Specifies a component under Security Functional Requirements section..
      </a:document>
      <ref name="f-comp-content-pat"/>
      <!-- Would like to remove this -->
      <zeroOrMore>
     	  <ref name="selection-depends"/>
      </zeroOrMore>
      <ref name="consistency-rationale"/>
      <ref name="ext-comp-extra-pat"/>
      <ref name="f-elements-pat"/>
      <ref name="audit-events-pat"/>
    </element>
  </define>



  <define name="base-pp">
    <element name="base-pp">
      <a:documentation>
	Holds information specifict to a base PP.
      </a:documentation>
      <attribute name="product">
	<a:documentation>
	  Name of the product the base PP applies to.
	</a:documentation>
      </attribute>
      <attribute name="version">
      <a:documentation>
       Version number of base PP
       </a:documentation>
       </attribute>
      <attribute name="name">
	<a:documentation>
	  Name of the base PP.
	</a:documentation>
      </attribute>

      <attribute name="short">
	<a:documentation>
	  Short name of the base PP.
	</a:documentation>
      </attribute>

      <attribute name="url">
	<a:documentation>
	  URL of the NIAP page for the base PP.
	</a:documentation>
      </attribute>

      <optional>
        <attribute name="xmlurl">
          <a:documentation>
URL of the XML defining the base PP (if it exists).
Ideally it should be NIAP or CC, but for right now it's probably on github.
          </a:documentation>
        </attribute>
      </optional>
      <optional>
         <element name="sec-func-req-dir">
           <a:documentation>
Content for the intro to Security Function Requirements Direction section. Replaces boilerplate content.
           </a:documentation>
           <ref name="basic-content-pat"/>
        </element>

      </optional>
      <optional>
        <element name="app-unmod-sfrs">
           <a:documentation>
Content for the Applicable Unmodified SFRs section. Replaces boilerplate content.
           </a:documentation>
           <ref name="basic-content-pat"/>
        </element>
      </optional>

      <element name="modified-sfrs">
	<a:documentation>
	  SFRs that modify SFRs from the base PP.
	</a:documentation>
	<ref name="base-specific-sfrs"/>
      </element>
      <element name="additional-sfrs">
	<a:documentation>
	  SFRs that are added specifically for configurations that use this base PP.
	</a:documentation>
	<ref name="base-specific-sfrs"/>
      </element>
      <element name="con-toe">
	<a:documentation>
	  Consistency argument for why this module does not violate the TOE of the base PP.
	</a:documentation>
	<ref name="basic-content-pat"/>
      </element>
      <element name="con-sec-prob">
	<a:documentation>
	  Consistency argument for why this module does not violate the security problem described by the base PP.
	</a:documentation>
	<ref name="basic-content-pat"/>
      </element>
      <element name="con-obj">
	<a:documentation>
	  Consistency argument for why this module does not violate the objectives described by the base PP.
	</a:documentation>
	<ref name="basic-content-pat"/>
      </element>
      <element name="con-op-en">
	<a:documentation>
	  Consistency argument for why this module does not violate the objectives for the optional environmnet described by the base PP.
	</a:documentation>
	<ref name="basic-content-pat"/>
      </element>
      <zeroOrMore>
        <element name="con-mod">
        	<a:documentation>
Consistency Rationale Modification. Allows a base to specify rationale that is specific to itself. Linked via the ID attribute.
	        </a:documentation>

          <attribute name="id">
        	<a:documentation>
The ID of the aspect that is being overwritten by the content of this element.
        	</a:documentation>
          </attribute>
          <ref name="basic-content-pat"/>
        </element>
      </zeroOrMore>


    </element>
  </define>

  <define name="base-specific-sfrs">
    <zeroOrMore>
      <element name="subsection">
      	<a:documentation>
Defines SFRs that pertain to specific base.
      	</a:documentation>
      	<ref name="title-attr"/>
        <ref name="id-attr"/>
        <ref name="ext-comp-def-pat"/>
        <oneOrMore>
          <element name="f-component">
	        <a:document>
Specifies a component under Security Functional Requirements section..
            </a:document>
            <optional><attribute name="notnew">
               <a:document>Inclusion of this attribute signifies that this item should be omitted from the extended component definitions.</a:document>
               <value>true</value>
            </attribute></optional>
            <ref name="f-comp-content-pat"/>
	        <ref name="consistency-rationale"/>
            <ref name="ext-comp-extra-pat"/>
	        <ref name="f-elements-pat"/>
	  </element>
	</oneOrMore>
      </element>
    </zeroOrMore>
  </define>

  <define name="IntroductionChapter">
    <element name="chapter">
      <a:documentation>
      </a:documentation>
      <attribute name="title"><value>Introduction</value></attribute>
      <ref name="id-attr"/>
      <element name="section">
	<a:documentation>
	</a:documentation>
	<attribute name="title"><value>Overview</value></attribute>
	<ref name="id-attr"/>
	<ref name="basic-content-pat"/>
      </element>
      <ref name="tech-terms"/>
      <element name="section">
	<a:documentation>
	</a:documentation>
	<attribute name="title"><value>Compliant Targets of Evaluation</value></attribute>
	<ref name="id-attr"/>
	<ref name="basic-content-pat"/>
	<element name="subsection">
	  <a:documentation>
	  </a:documentation>
	  <attribute name="title"><value>TOE Boundary</value></attribute>
	  <ref name="id-attr"/>
	  <ref name="basic-content-pat"/>
	</element>
	<optional>
	  <element name="subsection">
	    <a:documentation>
	    </a:documentation>
	    <attribute name="title"><value>TOE Platform</value></attribute>
	    <ref name="id-attr"/>
	    <ref name="basic-content-pat"/>
	  </element>
	</optional>
      </element>
      <element name="section">
        <a:documentation>
	      </a:documentation>
        <attribute name="title"><value>Use Cases</value></attribute>
	      <ref name="id-attr"/>
	      <ref name="basic-content-pat"/>
	      <ref name="usecases"/>
      </element>
    </element>
  </define>

  <define name="usecases">
    <element name="usecases">
      <a:documentation>
Wrapper element for uses cases.
      </a:documentation>
      <oneOrMore>
        <ref name="usecase"/>
      </oneOrMore>
    </element>
  </define>

  <define name="usecase">
    <element name="usecase">
      <a:documentation>
Referrable section on how the protection profiled item is used.
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <ref name="description"/>
    </element>
  </define>
  <define name="glossary-el">
    <element name="glossary">
      <a:documentation>
      </a:documentation>
      <oneOrMore>
	<element name="entry">
	  <a:documentation>
	  </a:documentation>
	  <element name="term"><ref name="basic-content-pat"/></element>
	  <ref name="description"/>
	</element>
      </oneOrMore>
    </element>
  </define>


  <define name="from">
    <element name="from">
       <attribute name="base"/>
    </element>
  </define>

  <define name="base-name">
    <element name="base-name">
      <a:documentation>	Variable that references the base name of the PP </a:documentation>
      <empty/>
    </element>
  </define>

  <define name="consistency-rationale">
    <element name="consistency-rationale">
      <a:documentation>
	Common rationale that will go into the consisteny-rationale in each base-pp
	section (unless the base redefines it).
      </a:documentation>
      <oneOrMore>
	<choice>
	  <ref name="basic-content-pat"/>
	  <ref name="base-name"/>
	</choice>
      </oneOrMore>
    </element>
  </define>

  <define name="boilerplate-pat">
    <optional>
      <attribute name="boilerplate">
	<value>yes</value>
      </attribute>
    </optional>
  </define>



  <define name="PPRefAndRevision">
    <element name="PPReference">
      <a:documentation>
      </a:documentation>
      <element name="ReferenceTable">
	<a:documentation>
	</a:documentation>
        <element name="PPVersion">
	  <a:documentation>
	  </a:documentation>
          <data type="decimal"/>
        </element>
        <element name="PPAuthor">
	  <a:documentation>
	  </a:documentation>
          <text/>
        </element>
        <element name="PPPubDate">
	  <a:documentation>
	    Date of publication for this PP.
	  </a:documentation>
          <data type="date"/>
        </element>
        <element name="Keywords">
	  <a:documentation>
	  </a:documentation>
          <text/>
        </element>
      </element>
    </element>

    <oneOrMore>
      <element name="RevisionHistory">
	<a:documentation>
	</a:documentation>
        <oneOrMore>
	  <element name="entry">
	    <a:documentation>
	    </a:documentation>
	    <element name="version"><text/></element>
	    <element name="date"><data type="date"/></element>
	    <element name="subject"><text/></element>
	  </element>
        </oneOrMore>
      </element>
    </oneOrMore>
  </define>

  <define name="SecReqChapter">
    <element name="chapter">
      <a:documentation>
	The chapter for security requirements.
      </a:documentation>
      <attribute name="title"><value>Security Requirements</value></attribute>
      <ref name="id-attr"/>
      <ref name="basic-content-pat"/>
      <oneOrMore>
	<ref name="base-pp"/>
      </oneOrMore>
      <ref name="man-sfrs"/>
      <ref name="opt-sfrs"/>
      <ref name="sel-sfrs"/>
      <ref name="obj-sfrs"/>
    </element>
  </define>


</grammar>
