schemas/CCModule.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="https://niap-ccevs.org/cc/v1" xmlns:h="http://www.w3.org/1999/xhtml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="Module">
      <attribute name="name"/>


      <oneOrMore>
        <element name="chapter">
          <attribute name="id">
            <data type="NCName"/>
          </attribute>
          <attribute name="title"/>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="abbr"/>
              <ref name="h.p"/>
              <element name="cclaims">
                <element name="cclaim">
                  <attribute name="id"/>
                  <ref name="description"/>
                </element>
              </element>
              <element name="section">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <attribute name="title"/>
                <oneOrMore>
                  <choice>
                    <text/>
                    <ref name="h.p"/>
                    <ref name="subsection"/>
                    <element name="SOs">
                      <oneOrMore>
                        <element name="SO">
                          <attribute name="id">
                            <data type="NCName"/>
                          </attribute>
                          <ref name="description"/>
                          <oneOrMore>
                            <element name="component-refer">
                              <attribute name="ref">
                                <data type="NCName"/>
                              </attribute>
                            </element>
                          </oneOrMore>
                        </element>
                      </oneOrMore>
                    </element>
                    <element name="base-pp">
                      <attribute name="name"/>
                      <attribute name="short"/>
                      <attribute name="url">
                        <data type="anyURI"/>
                      </attribute>
                      <attribute name="xmlurl">
                        <data type="anyURI"/>
                      </attribute>
                    </element>
                    <element name="figure">
                      <attribute name="entity"/>
                      <attribute name="id">
                        <data type="NCName"/>
                      </attribute>
                      <attribute name="max-width">
                        <data type="NCName"/>
                      </attribute>
                      <attribute name="title"/>
                    </element>
                    <element name="threats">
                      <element name="threat">
                        <attribute name="id">
                          <data type="NCName"/>
                        </attribute>
                        <ref name="description"/>
                        <element name="objective-refer">
                          <attribute name="ref">
                            <data type="NCName"/>
                          </attribute>
                          <element name="rationale">
                            <data type="NCName"/>
                          </element>
                        </element>
                      </element>
                    </element>
                    <element name="usecases">
                      <element name="usecase">
                        <attribute name="id">
                          <data type="NCName"/>
                        </attribute>
                        <attribute name="title"/>
                        <ref name="description"/>
                      </element>
                    </element>
                  </choice>
                </oneOrMore>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
      <oneOrMore>
        <element name="appendix">
          <attribute name="id">
            <data type="NCName"/>
          </attribute>
          <attribute name="title"/>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="abbr"/>
              <ref name="h.br"/>
              <element name="acronyms">
                <oneOrMore>
                  <ref name="entry"/>
                </oneOrMore>
              </element>
              <element name="appref">
                <attribute name="linkend">
                  <data type="NCName"/>
                </attribute>
              </element>
              <element name="bibliography">
                <element name="cc-entry">
                  <empty/>
                </element>
                <oneOrMore>
                  <ref name="entry"/>
                </oneOrMore>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>
  <define name="entry">
    <element name="entry">
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <element name="version">
          <text/>
        </element>
        <element name="date">
          <data type="NMTOKEN"/>
        </element>
        <element name="subject">
          <text/>
        </element>
      </optional>
      <optional>
        <choice>
          <element name="name">
            <data type="NCName"/>
          </element>
          <element name="tag">
            <data type="NCName"/>
          </element>
          <element name="term">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="abbr"/>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </optional>
      <optional>
        <ref name="description"/>
      </optional>
    </element>
  </define>
  <define name="h.p">
    <element name="h:p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="abbr"/>
          <ref name="cite"/>
          <ref name="h.ul"/>
          <element name="citeCC">
            <empty/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="description">
    <element name="description">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="abbr"/>
          <ref name="cite"/>
          <ref name="h.p"/>
          <element name="h:a">
            <attribute name="href">
              <data type="anyURI"/>
            </attribute>
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="abbr">
    <element name="abbr">
      <optional>
        <attribute name="linkend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="title"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="subsection">
    <element name="subsection">
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <attribute name="title"/>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="subsection"/>
          <element name="f-component">
            <attribute name="id">
              <data type="NCName"/>
            </attribute>
            <attribute name="name"/>
            <optional>
              <attribute name="status">
                <data type="NCName"/>
              </attribute>
            </optional>
            <zeroOrMore>
              <element name="selection-depends">
                <attribute name="ids"/>
                <attribute name="req">
                  <data type="NCName"/>
                </attribute>
              </element>
            </zeroOrMore>
            <oneOrMore>
              <element name="f-element">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <element name="title">
                  <oneOrMore>
                    <choice>
                      <text/>
                      <ref name="assignable"/>
                      <ref name="h.ul"/>
                      <ref name="selectables"/>
                      <element name="management-function-set">
                        <attribute name="default">
                          <data type="NCName"/>
                        </attribute>
                        <oneOrMore>
                          <element name="manager">
                            <attribute name="id">
                              <data type="NCName"/>
                            </attribute>
                            <data type="NCName"/>
                          </element>
                        </oneOrMore>
                        <oneOrMore>
                          <element name="management-function">
                            <element name="text">
                              <oneOrMore>
                                <choice>
                                  <text/>
                                  <ref name="assignable"/>
                                  <ref name="linkref"/>
                                  <ref name="selectables"/>
                                </choice>
                              </oneOrMore>
                            </element>
                          </element>
                        </oneOrMore>
                      </element>
                    </choice>
                  </oneOrMore>
                </element>
                <optional>
                  <element name="note">
                    <attribute name="role">
                      <data type="NCName"/>
                    </attribute>
                    <oneOrMore>
                      <choice>
                        <text/>
                        <ref name="abbr"/>
                        <ref name="cite"/>
                        <ref name="h.i"/>
                        <ref name="h.p"/>
                        <ref name="h.ul"/>
                        <ref name="linkref"/>
                      </choice>
                    </oneOrMore>
                  </element>
                </optional>
                <optional>
                  <ref name="aactivity"/>
                </optional>
              </element>
            </oneOrMore>
            <optional>
              <ref name="aactivity"/>
            </optional>
          </element>
          <element name="glossary">
            <oneOrMore>
              <ref name="entry"/>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="h.br">
    <element name="h:br">
      <empty/>
    </element>
  </define>
  <define name="cite">
    <element name="cite">
      <attribute name="linkend">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="h.ul">
    <element name="h:ul">
      <oneOrMore>
        <element name="h:li">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="cite"/>
              <ref name="h.i"/>
              <element name="h:b">
                <text/>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="assignable">
    <element name="assignable">
      <text/>
    </element>
  </define>
  <define name="selectables">
    <element name="selectables">
      <optional>
        <attribute name="linebreak">
          <data type="NCName"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <element name="selectable">
          <optional>
            <attribute name="id">
              <data type="NCName"/>
            </attribute>
          </optional>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="abbr"/>
              <ref name="assignable"/>
              <ref name="cite"/>
              <ref name="linkref"/>
              <ref name="selectables"/>
            </choice>
          </oneOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="linkref">
    <element name="linkref">
      <attribute name="linkend">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="h.i">
    <element name="h:i">
      <text/>
    </element>
  </define>
  <define name="aactivity">
    <element name="aactivity">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="cite"/>
          <ref name="h.br"/>
          <ref name="h.ul"/>
          <element name="Guidance">
            <empty/>
          </element>
          <element name="TSS">
            <empty/>
          </element>
          <element name="Tests">
            <empty/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>
