schemas/CCModule.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	  ns="https://niap-ccevs.org/cc/v1" xmlns:h="http://www.w3.org/1999/xhtml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">


  <include href="Commons.rng">
    <!-- <define name="redefinable-pat"> -->
    <!--   <\!-\- <choice> -\-> -->
    <!--   <\!-\- </choice> -\-> -->
    <!-- </define> -->


    <define name="SO">
      <element name="SO">
	<a:documentation>
	  Entry for a security objective
	</a:documentation>
	<ref name="id-attr"/>
	<ref name="description"/>
	<oneOrMore>
          <element name="component-refer">
	    <a:documentation>
	      Cross-references a component.
	    </a:documentation>
            <attribute name="ref">
	      <a:documentation>
		Id of the referenced component.
	      </a:documentation>
	    </attribute>
	    <empty/>
          </element>
	</oneOrMore>
	<ref name="consistency-rationale"/>
      </element>
    </define>
  </include>




  <start>
    <element name="Module">
      <ref name="module-attributes-pat"/>
      <ref name="PPRefAndRevision"/>
      <ref name="IntroductionChapter"/>
      <ref name="CClaimsChapter"/>
      <ref name="SecProbDesChapter"/>
      <ref name="SecObjChapter"/>
      <ref name="SecReqChapter"/>
    </element>
  </start>





  <define name="module-attributes-pat">
      <attribute name="name"></attribute>
      <attribute name="target-products"></attribute>
      <ref name="boilerplate-pat"/>
  </define>
  
  <define name="SecReqChapter">
    <element name="chapter">
      <attribute name="title"><value>Security Requirements</value></attribute>
      <ref name="id-attr"/>
      <ref name="basic-content"/>
      <element name="base-pp">
	<attribute name="product"/>
	<attribute name="name"/>
	<attribute name="short"/>
	<attribute name="url"/>
	<attribute name="xmlurl"/>
	<optional>
	  <element name="additional-sfrs">
	    <oneOrMore>
	      <element name="subsection">
		<ref name="title-attr"/>
		<ref name="id-attr"/>
		<oneOrMore>
		  <element name="f-component">
		    <a:document>
		      Specifies a component under Security Functional Requirements section..
		    </a:document>
		    <attribute name="id">
		      <a:documentation>
			A document-wide unique id. Not really read by a person, but it
			should be the base for its child requirements' ids.
		      </a:documentation>
		    </attribute>
		    <attribute name="name">
		      <a:documentation>
			Readable title for this requirement.
		      </a:documentation>
		    </attribute>
		    <ref name="consistency-rationale"/>
		    <zeroOrMore>
		      <element name="f-element">
			<a:documentation>
			  Defines a functional requirement.
			</a:documentation>
			<attribute name="id">
			  <a:documentation>
			    A document-wide unique ID that is also displayed to the user.
			    It should be the base component id  (i.e. no number in parenthesis) plus the number of preceding siblings +1
			  </a:documentation>
			</attribute>
			<element name="title">
			  <ref name="basic-content"/>
			</element>
			<oneOrMore>
			  <choice>
			    <text/>
			    <ref name="aactivity"/>
			    <ref name="assignable"/>
			    <ref name="note"/>
			    <ref name="selectables"/>
			  </choice>
			</oneOrMore>
		      </element>
		    </zeroOrMore>
		  </element>
		</oneOrMore>
	      </element>
	    </oneOrMore>
	  </element>
	</optional>
      </element>
    </element>
  </define>


  <define name="aactivity">
    <element name="aactivity">
      <a:documentation>Element containing an Assurance Activity.</a:documentation>
      <ref name="basic-content"/>
    </element>
  </define>

  <define name="SecObjChapter">
    <element name="chapter">
      <attribute name="title"><value>Security Objectives</value></attribute>
      <ref name="id-attr"/>
      <ref name="basic-content"/>
      <element name="section">
	<attribute name="title"><value>Security Objectives for the TOE</value></attribute>
	<ref name="id-attr"/>
	<ref name="SOs"/>
      </element>
    </element>
  </define>

  <define name="SecProbDesChapter">
    <element name="chapter">
      <attribute name="title"><value>Security Problem Description</value></attribute>
      <ref name="id-attr"/>
      <ref name="basic-content"/>
      <element name="section">
	<attribute name="title"><value>Threats</value></attribute>
	<ref name="id-attr"/>
	<ref name="basic-content"/>
	<element name="threats">
	  <oneOrMore>
	    <element name="threat">
	      <ref name="id-attr"/>
	      <ref name="description"/>
	      <optional>
		<element name="consistency-rationale">
		  <ref name="basic-content"/>
		</element>
	      </optional>
	      <ref name="objective-refer"/>
	    </element>
	  </oneOrMore>
	</element>
      </element>
    </element>
  </define>


  <define name="CClaimsChapter">
      <element name="chapter">
	<attribute name="title"><value>Conformance Claims</value></attribute>
	<ref name="id-attr"/>
	<element name="cclaims">
	  <oneOrMore>
	    <element name="cclaim">
	      <ref name="id-attr"/>
	      <ref name="description"/>
	    </element>
	  </oneOrMore>
	</element>
      </element>
  </define>

  <define name="description">
    <element name="description">
      <ref name="basic-content"/>
    </element>
  </define>

  <!-- <define name="html-element"> -->
  <!--   <a:documentation> -->
  <!--     Pattern defines the html-element, which is any element in the xhtml namespace. -->
  <!--     They have no knowledge of the CC element, and so cannot have any CC descendants. -->
  <!--   </a:documentation> -->
  <!--   <element ns="http://www.w3.org/1999/xhtml"> -->
  <!--     <anyName> -->
  <!-- 	<except> -->
  <!-- 	  <nsName ns="https://niap-ccevs.org/cc/v1"/> -->
  <!-- 	</except> -->
  <!--     </anyName> -->
  <!--     <a:documentation> -->
  <!-- 	Defines all html-elements with an optional number of html attributes and descendants. -->
  <!--     </a:documentation> -->
  <!--     <zeroOrMore> -->
  <!-- 	<attribute> -->
  <!-- 	  <anyName/> -->
  <!-- 	</attribute> -->
  <!--     </zeroOrMore> -->
  <!--     <ref name="basic-content"/> -->
  <!--   </element> -->
  <!-- </define> -->

  
  <!-- <define name="basic-content"> -->
  <!--   <a:documentation> -->
  <!--     Content that can go anywhere (Although some items are only suitable for title elements). -->
  <!--   </a:documentation> -->
  <!--   <oneOrMore> -->
  <!--     <choice> -->
  <!-- 	<text/> -->
  <!-- 	<ref name="html-element"/> -->
  <!-- 	<ref name="linkref"/> -->
  <!-- 	<ref name="citeCC"/> -->
  <!--       <ref name="cite"/> -->
  <!--       <ref name="secref"/> -->
  <!--       <ref name="appref"/> -->
  <!-- 	<ref name="abbr-el"/> -->
  <!-- 	<ref name="xref"/> -->
  <!-- 	<ref name="ctr-ref"/> -->
  <!-- 	<ref name="ctr"/> -->
  <!--       <element name="figure"> -->
  <!-- 	  <a:documentation> -->
  <!-- 	    Tag allow that inserts a picture. -->
  <!-- 	  </a:documentation> -->
  <!-- 	  <optional> -->
  <!-- 	    <attribute name="pre"> -->
  <!-- 	      <a:documentation> -->
  <!-- 		Text that goes before the counter (e.g. 'Figure '). It will be included in every reference. By default it is 'Figure '. -->
  <!-- 	      </a:documentation> -->
  <!-- 	    </attribute> -->
  <!-- 	  </optional> -->
  <!--         <attribute name="entity"> -->
  <!-- 	    <a:documentation> -->
  <!-- 	      Path to the image file. -->
  <!-- 	    </a:documentation> -->
  <!-- 	  </attribute> -->
  <!-- 	  <ref name="id-attr"/> -->
  <!-- 	  <ref name="title-attr"/> -->
  <!--         <optional> -->
  <!--           <attribute name="max-width"/> -->
  <!--         </optional> -->
  <!--       </element> -->
  <!-- 	<element name="figref"> -->
  <!-- 	  <a:documentation> -->
  <!-- 	    References a figure -->
  <!-- 	  </a:documentation> -->
  <!-- 	  <attribute name="refid"> -->
  <!-- 	    <a:documentation> -->
  <!-- 	      Contains the ID of the figure being referenced. -->
  <!-- 	    </a:documentation> -->
  <!-- 	  </attribute> -->
  <!-- 	</element> -->
  <!--     </choice> -->
  <!--   </oneOrMore> -->
  <!-- </define> -->





  <define name="IntroductionChapter">
      <element name="chapter">
	<attribute name="title"><value>Introduction</value></attribute>
	<ref name="id-attr"/>
	<element name="section">
	  <attribute name="title"><value>Overview</value></attribute>
	  <ref name="id-attr"/>
	  <ref name="basic-content"/>
	</element>
	<element name="section">
	  <attribute name="title"><value>Terms</value></attribute>
	  <ref name="id-attr"/>
	  <ref name="basic-content"/>
	  <element name="subsection">
	    <attribute name="title"><value>Common Criteria Terms</value></attribute>
	    <ref name="glossary-el"/>
	  </element>
	  <element name="subsection">
	    <attribute name="title"><value>Technical Terms</value></attribute>
	    <ref name="glossary-el"/>
	  </element>
	</element>
	<element name="section">
	  <attribute name="title"><value>Compliant Targets of Evaluation</value></attribute>
	  <ref name="id-attr"/>
	  <ref name="basic-content"/>
	</element>
	<element name="section">
	  <attribute name="title"><value>Use Cases</value></attribute>
	  <ref name="id-attr"/>
	  <ref name="basic-content"/>
          <element name="usecases">
	    <a:documentation>
	      Wrapper element for uses cases.
	    </a:documentation>
            <oneOrMore>
              <element name="usecase">
		<a:documentation>
		  A referrable section on how the protection profiled item is used.
		</a:documentation>
		<ref name="id-attr"/>
		<ref name="title-attr"/>
                <element name="description">
		  <ref name="basic-content"/>
		</element>
              </element>
            </oneOrMore>
          </element>
	</element>
      </element>
    </define>



  <define name="glossary-el">
    <element name="glossary">
      <oneOrMore>
	<element name="entry">
	  <element name="term"><ref name="basic-content"/></element>
	  <element name="description"><ref name="basic-content"/></element>
	</element>
      </oneOrMore>
    </element>
  </define>


  <define name="selectables">
    <element name="selectables">
      <a:documentation>
	A grouping of selectable elements.
      </a:documentation>
      <optional>
        <attribute name="onlyone">
	  <a:documentation>
	    Designates that at only one item may be selected.
	  </a:documentation>
	  <choice><value>yes</value></choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="linebreak">
	  <a:documentation>
	    Indicates that new lines should be appended to every selectable.
	  </a:documentation>
	  <choice><value>yes</value></choice>
        </attribute>
      </optional>
      <ref name="selectable-group"/>
    </element>
  </define>


  <define name="assignable">
    <element name="assignable">
      <a:documentation>
	Assignment section
      </a:documentation>
      <ref name="basic-content"/>
    </element>
  </define>

  <define name="selectable-single">
    <element name="selectable">
      <a:documentation>
	Denotes the start of a selectable in a selectables section.
      </a:documentation>
      <optional>
	<attribute name="exclusive"><choice><value>yes</value></choice></attribute>
      </optional>
      <optional>
	<ref name="id-attr"/>
      </optional>
      <zeroOrMore>
	<element name="requires">
	  <a:documentation>
	    Denotes a selection-based element that is required should this selection chosen.
	  </a:documentation>
	  <attribute name="req">
	    <a:documentation>
	      The ID of the required element.
	    </a:documentation>
	  </attribute>
	</element>
      </zeroOrMore>
      <ref name="basic-content"/>
    </element>
  </define>


  <define name="selectable-group">
    <ref name="selectable-single"/>
    <oneOrMore>
      <ref name="selectable-single"/>
    </oneOrMore>
  </define>

  <define name="note">
    <element name="note">
      <a:documentation>
	Any further instructions associated with the requirement.
      </a:documentation>
      <optional>
        <attribute name="role">
	  <a:documentation>Indicates who is associated with this role</a:documentation>
	  <choice>
	    <value>application</value><value>Application</value>
	    <value>developer</value><value>Developer</value>
	  </choice>
        </attribute>
      </optional>
      <ref name="basic-content"/>
    </element>
  </define>

  <define name="base-name">
    <element name="base-name">
      <a:documentation>	Variable that references the base name of the PP </a:documentation>
      <empty/>
    </element>
  </define>

  <define name="consistency-rationale">
    <element name="consistency-rationale">
      <a:documentation> 
	Common rationale that will go into the consisteny-rationale in each base-pp
	section (unless the base redefines it).
      </a:documentation>
      <oneOrMore>
	<choice>
	  <ref name="basic-content"/>
	  <ref name="base-name"/>
	</choice>
      </oneOrMore>
    </element>
  </define>

</grammar>
