schemas/CCProtectionProfile.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="https://niap-ccevs.org/cc/v1"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         xmlns:htm="http://www.w3.org/1999/xhtml"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         >


  <include href="Commons.rng">
    <define name="custom-basic-content-pat">
      <choice>
        <element name="componentsneeded">
          <oneOrMore>
            <element name="componentneeded">
              <element name="componentid">
                <data type="string">
                  <param name="pattern">(F|A)[A-Z]{2}_[A-Z0-9^]{2,5}(_EXT)?\.[0-9]</param>
                </data>
              </element>
              <element name="notes">
                <ref name="basic-content-pat"/>
              </element>
            </element>
          </oneOrMore>
        </element>
        <element name="if-opt-app">
          <a:documentation>
Content that only appears if the optional appendices exist.
          </a:documentation>
          <ref name="basic-content-pat"/>
        </element>
        <element name="indent">
          <a:documentation>
Tags that this section should be indented(left) 2em.
          </a:documentation>
          <ref name="basic-content-pat"/>
        </element>
      </choice>
    </define>

    <define name="xref-content">
      <choice>
        <ref name="linkend-attr"/>
        <attribute name="to">
          <choice>
            <value>ref-strict-optional</value>
            <value>sel-based-reqs</value>
            <value>obj-reqs</value>
            <value>impl-reqs</value>
          </choice>
        </attribute>
      </choice>
    </define>
  </include>
<!-- ################################# -->
<!--            START                  -->
<!-- ################################# -->
  <start>
    <element name="PP">
      <a:documentation>Root element for Protection Profile XML document</a:documentation>
        <attribute name="name">
      <a:documentation>
        The title of this document.
      </a:documentation>
      </attribute>
      <optional>
        <attribute name="type">
          <choice><value>package</value><value>pp</value></choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="boilerplate">
        <a:documentation>
          Indicates that this document shall use boilerplate sections.
        </a:documentation>
        <value>yes</value></attribute>
      </optional>

      <element name="PPReference">
        <a:documentation>
          A wrapper element for document meta-data.
        </a:documentation>

        <element name="ReferenceTable">
          <a:documentation>
            A second wrapper element for document meta-data.
          </a:documentation>
          <element name="PPTitle">
            <a:documentation>Title of this document</a:documentation>
            <text/>
          </element>
          <element name="PPVersion">
            <a:documentation>

Version of Common Criteria this document follows.
It should be the version listed in the CCPart1/2/3 files consulted.

            </a:documentation>
            <data type="NMTOKEN"/>
          </element>
          <element name="PPAuthor">
            <a:documentation>
              Organization that developed this PP (e.g. National Information Assurance Partnership)
            </a:documentation>
            <text/>
          </element>
          <element name="PPPubDate">
            <a:documentation>
              Date of publication for this PP.
            </a:documentation>
            <data type="date"/>
          </element>
          <element name="Keywords">
            <a:documentation>
              NOT USED. A list of keywords associated with this document.
            </a:documentation>
            <text/>
          </element>
        </element>
      </element>
      <oneOrMore>
        <element name="RevisionHistory">
          <a:documentation>Documents the major changes to releases.</a:documentation>
          <zeroOrMore>
            <element name="entry">
              <a:documentation>Container for individual revisions.</a:documentation>
              <element name="version">
                <a:documentation>Text describing the revision.</a:documentation>
                <text/>
              </element>
              <element name="date">
                <a:documentation>Date of the revision.</a:documentation>
                <data type="date"/>
              </element>
              <element name="subject">
                <a:documentation>Description of the revision.</a:documentation>
                <ref name="basic-content-pat"/>
              </element>
            </element>
          </zeroOrMore>
        </element>
      </oneOrMore>
      <optional>
        <element name="foreword">
          <a:documentation>Flexible section for a foreword.</a:documentation>
          <zeroOrMore><ref name="html-element"/></zeroOrMore>
        </element>
      </optional>
      <ref name="IntroductionChapter"/>
      <ref name="CClaimsChapter"/>
      <oneOrMore>
        <element name="chapter">
          <a:documentation>Major grouping for the document.</a:documentation>
          <ref name="id-attr"/>
          <ref name="title-attr"/>
          <ref name="boilerplate-no-attr"/>
          <oneOrMore>
            <choice>
              <ref name="basic-content-pat"/>
              <ref name="section"/>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
      <ref name="appendix-pat"/>
      <ref name="implements-pat"/>

      <!-- This is where we can store extra css -->
      <optional>
        <element name="extra-css">
          <text/>
        </element>
      </optional>
    </element>
  </start>
  
  <define name="IntroductionChapter">
      <element name="chapter">
        <attribute name="title"/>
        <ref name="id-attr"/>
        <ref name="boilerplate-no-attr"/>
        <ref name="section"/>
        <ref name="tech-terms"/>
        <oneOrMore>
          <ref name="section"/>
        </oneOrMore>
        </element>
  </define>



  <define name="appendix-pat">
    <a:documentation>
      Pattern for title attribute.
    </a:documentation>
    <oneOrMore>
      <element name="appendix">
        <a:documentation>
          Element that defines an appendix.
        </a:documentation>
        <attribute name="id">
          <a:documentation>A document-wide unique string.</a:documentation>
          <data type="NCName"/>
        </attribute>
        <ref name="title-attr"/>
        <ref name="boilerplate-no-attr"/>
        <oneOrMore><choice>
            <ref name="basic-content-pat"/>
            <ref name="section"/>
            <ref name="acronyms"/>
            <ref name="bibliography"/>
        </choice></oneOrMore>
      </element>
    </oneOrMore>
  </define>

  <define name="section">
    <element name="section">
      <a:documentation>
        A block smaller than a chapter.
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <oneOrMore>
        <choice>
          <ref name="basic-content-pat"/>
          <element name="InsertSPDCorrespondence">
                  <a:documentation>
                    Tags the spot where the table mapping threats
                    to objectives to requirements should go.
                  </a:documentation>
            <empty/>
          </element>
          <ref name="OSPs"/>
          <element name="SOEs">
            <a:documentation>
              Grouping for Security Objectives for the Operational environment.
            </a:documentation>
            <oneOrMore>
              <element name="SOE">
                <a:documentation>
                  Security Objective for the Operational environment.
                </a:documentation>
                <optional><ref name="id-attr"/></optional>
                <attribute name="name">
                  <data type="string">
                    <param name="pattern">OE.[A-Z_]+</param>
                  </data>
                </attribute>
                <ref name="description"/>
              </element>
            </oneOrMore>
          </element>
          <ref name="SOs"/>
          <ref name="assumptions"/>
          <ref name="subsection-pattern"/>
          <element name="threats">
            <a:documentation>
              Wrapper element for various threats.
            </a:documentation>
            <oneOrMore>
              <element name="threat">
                <a:documentation>
                  Defines a threat.
                </a:documentation>
                <attribute name="name">
                  <data type="string">
                    <param name="pattern">T\.[_A-Z0-9]+</param>
                  </data>
                </attribute>
                <ref name="description"/>
                <oneOrMore>
                  <ref name="objective-refer"/>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
          <element name="usecases">
            <a:documentation>
              Wrapper element for uses cases.
            </a:documentation>
            <oneOrMore>
              <element name="usecase">
                <a:documentation>
                  A referrable section on how the protection profiled item is used.
                </a:documentation>
                <ref name="id-attr"/>
                <ref name="title-attr"/>
                <ref name="description"/>
              </element>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="a-elements">
    <oneOrMore>
      <element name="a-element">
        <a:documentation>
          Defines a functional requirement.
        </a:documentation>
        <optional>
          <attribute name="id">
            <a:documentation>
              A document-wide unique ID 
            </a:documentation>
            <data type="string">
              <param name="pattern">[\-a-zA-Z0-9]+</param>
            </data>
          </attribute>
        </optional>
        <attribute name="type">
          <data type="string">
            <param name="pattern">[DCE]</param>
          </data>
        </attribute>
        <ref name="f-element-title"/>
        <optional>
          <ref name="note"/>
        </optional>
        <optional>
          <element name="aactivity">
            <a:documentation>An Evaluation Activity for that applies to this requirement or possibly all previous requirements in this component.</a:documentation>
            <ref name="basic-content-pat"/>
          </element>
        </optional>
      </element>
    </oneOrMore>
  </define>

  <define name="f-component-pattern">
    <element name="f-component">
      <a:document>
        Specifies a component under Security Functional Requirements section..
      </a:document>
      <ref name="f-comp-content-pat"/>
      <choice>
        <!-- Choice of status -->
        <!-- If the status is objective, it must have a targetdate(?) -->
        <group>
          <optional>
            <attribute name="targetdate">
              <a:documentation>
                Target date that the requirements under this component become
                manandory. It only makes sense for _objective_ components.
              </a:documentation>
              <data type="date"/>
            </attribute>
          </optional>
          <attribute name="status">
            <a:documentation>
              Denotes the status of a requirement.
            </a:documentation>
            <value>objective</value>
          </attribute>
        </group>

        <!-- If the status is selection-based, it must have dependencies -->
        <group>
          <attribute name="status">
            <a:documentation>
              Denotes the status of a requirement.
            </a:documentation>
            <value>sel-based</value>
          </attribute>
          <oneOrMore>
            <ref name="selection-depends"/>
          </oneOrMore>
        </group>

        <!-- The status could also be optional or nothing (which is indicated here) -->
        <optional>
          <attribute name="status">
            <a:documentation>
              Denotes the status of a requirement.
            </a:documentation>
            <choice>
              <value>optional</value>
            </choice>
          </attribute>
        </optional>
      </choice>
      <ref name="depends-pat"/>
      <optional><ref name="note"/></optional>
      <ref name="f-elements-pat"/>
      <ref name="audit-events-pat"/>
    </element>
  </define> 

  <define name="subsection-pattern">
    <element name="subsection">
      <a:documentation>
        Lower level of grouping
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <oneOrMore>
        <choice>
          <ref name="glossary-section"/>
          <ref name="subsection-pattern"/>
          <ref name="basic-content-pat"/>
          <ref name="a-component-pattern"/>
          <ref name="f-component-pattern"/>
        </choice>
      </oneOrMore>
    </element>
  </define>


  <define name="a-component-pattern">
    <element name="a-component">
      <a:document>
        Specifies a component under Security Assurance Requirements section.
      </a:document>
      <ref name="id-attr"/>
      <attribute name="name">
        <a:document>
          A readable title for this component
        </a:document>
      </attribute>
      <ref name="basic-content-pat"/>
      <optional>
        <element name="summary">
          <a:documentation>
            Summary of this component.
          </a:documentation>
          <ref name="basic-content-pat"/>
        </element>
      </optional>

      <oneOrMore>
        <ref name="a-elements"/>
      </oneOrMore>
    </element>
  </define>

  <define name="glossary-section">
    <element name="glossary">
      <a:documentation>
        Section to define terms.
      </a:documentation>
      <oneOrMore>
        <ref name="entry-el"/>
      </oneOrMore>
    </element>
  </define>

</grammar>
