schemas/CCProtectionProfile.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="https://niap-ccevs.org/cc/v1"
	 xmlns="http://relaxng.org/ns/structure/1.0"
	 datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
	 xmlns:htm="http://www.w3.org/1999/xhtml"
	 xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	 >


  <include href="Commons.rng">
  </include>

  <start>
    <element name="PP">
      <a:documentation>Root element for Protection Profile XML document</a:documentation>
      <attribute name="name">
	<a:documentation>
The title of this document.
	</a:documentation>
      </attribute>
      <optional>
	<attribute name="boilerplate">
	<a:documentation>
Indicates that this document shall use boilerplate sections.
	</a:documentation>
	<value>yes</value></attribute>
      </optional>

      
      <element name="PPReference">
	<a:documentation>
	  A wrapper element for document meta-data.
	</a:documentation>

        <element name="ReferenceTable">
	  <a:documentation>
	    A second wrapper element for document meta-data.
	  </a:documentation>
          <element name="PPTitle">
	    <a:documentation>Title of this document</a:documentation>
            <text/>
          </element>
          <element name="PPVersion">
	    <a:documentation>
	      Version of Common Criteria this document follows.
	      It should be the version listed in the CCPart1/2/3 files consulted.
	    </a:documentation>
            <data type="NMTOKEN"/>
          </element>
          <element name="PPAuthor">
	    <a:documentation>
	      Organization that developed this PP (e.g. National Information Assurance Partnership)
	    </a:documentation>
            <text/>
          </element>
          <element name="PPPubDate">
	    <a:documentation>
	      Date of publication for this PP.
	    </a:documentation>
            <data type="date"/>
          </element>
          <element name="Keywords">
	    <a:documentation>
	      NOT USED. A list of keywords associated with this document.
	    </a:documentation>
            <text/>
          </element>
        </element>
      </element>
      <oneOrMore>
        <element name="RevisionHistory">
	  <a:documentation>Documents the major changes to releases.</a:documentation>
	  <zeroOrMore>
	    <element name="entry">
	      <a:documentation>Container for individual revisions.</a:documentation>
	      <element name="version">
		<a:documentation>Text describing the revision.</a:documentation>
		<text/>
	      </element>
	      <element name="date">
		<a:documentation>Date of the revision.</a:documentation>
		<data type="date"/>
	      </element>
	      <element name="subject">
		<a:documentation>Description of the revision.</a:documentation>
		<ref name="basic-content"/>
	      </element>
	    </element>
	  </zeroOrMore>
        </element>
      </oneOrMore>
      <optional>
	<element name="foreword">
	  <a:documentation>Flexible section for a foreword.</a:documentation>
	  <zeroOrMore><ref name="html-element"/></zeroOrMore>
	</element>
      </optional>
      <oneOrMore>
        <element name="chapter">
	  <a:documentation>Major grouping for the document.</a:documentation>
	  <ref name="id-attr"/>
	  <ref name="title-attr"/>
          <oneOrMore>
            <choice>
	      <ref name="basic-content"/>
              <ref name="section"/>
	      
              <element name="cclaims">
		<a:documentation>
		  Container element for the individual Conformance Claims.
		</a:documentation>
                <oneOrMore>
                  <element name="cclaim">
		    <a:documentation>
		      Element containing a description of Conformance claims. See CCPART1 section A.5.
		    </a:documentation>
                    <attribute name="id">
		      <a:documentation>
			This is really the title of the section.
		      </a:documentation>
		    </attribute>
                    <ref name="description"/>
                  </element>
                </oneOrMore>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
      <oneOrMore>
	<ref name="appendix"/>
      </oneOrMore>

      <!-- This is where we can store extra css -->
      <optional>
	<element name="extra-css">
	  <text/>
	</element>
      </optional>
    </element>
  </start>


  <define name="id-attr">
    <a:documentation>
      Pattern for the id attribute
    </a:documentation>
    <attribute name="id">
      <a:documentation>A document-wide unique string.</a:documentation>
      <data type="NCName"/>
    </attribute>
  </define>

  <define name="appendix">
    <a:documentation>
      Pattern for title attribute.
    </a:documentation>
    <element name="appendix">
      <a:documentation>
	Element that defines an appendix.
      </a:documentation>
      <attribute name="id">
	<a:documentation>A document-wide unique string.</a:documentation>
        <data type="NCName"/>
      </attribute>
      <ref name="title-attr"/>
      <oneOrMore>
        <choice>
	  <ref name="basic-content"/>
          <ref name="appref"/>
          <ref name="section"/>
          <element name="acronyms">
	    <a:documentation>
	      Section to define the acronyms used in the document.
	    </a:documentation>
            <oneOrMore>
	      <ref name="entry-el"/>
            </oneOrMore>
          </element>
          <element name="bibliography">
	    <a:documentation>
	      Section to define the items references.
	    </a:documentation>
            <oneOrMore>
	      <choice>
		<element name="cc-entry">
		  <a:documentation>
		    Inserts the Common Criteria documents.
		  </a:documentation>
		  <empty/>
		</element>

		<element name="entry">
		  <a:documentation>
		    Groups bibliograph entries.
		  </a:documentation>
		  <ref name="id-attr"/>
		  <element name="tag">
		    <a:documentation>
		      A visible bibliography-wide unique identifier.
		    </a:documentation>
		    <ref name="basic-content"/>
		  </element>
		  <ref name="description"/>
		</element>

	      </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="section">
    <element name="section">
      <a:documentation>
	A block smaller than a chapter.
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <oneOrMore>
        <choice>
	  <ref name="glossary-section"/>
	  <ref name="basic-content"/>
          <element name="InsertSPDCorrespondence">
	    <a:documentation>
	      Tags the spot where the table mapping threats
	      to objectives to requirements should go.
	    </a:documentation>
            <empty/>
          </element>
          <element name="OSPs">
	    <a:documentation>
	      Grouping for Organizational Security Policies
	    </a:documentation>
	    <oneOrMore>
              <element name="OSP">
		<a:documentation>
		  Entry for each security policy.
		</a:documentation>
		<ref name="id-attr"/>
		<ref name="description"/>
		<ref name="objective-refer"/>
              </element>
	    </oneOrMore>
          </element>
          <element name="SOEs">
	    <a:documentation>
	      Grouping for Security Objectives for the Operational environment.
	    </a:documentation>
            <oneOrMore>
              <element name="SOE">
		<a:documentation>
		  Security Objective for the Operational environment.
		</a:documentation>
		<ref name="id-attr"/>
                <ref name="description"/>
              </element>
            </oneOrMore>
          </element>
	  <ref name="SOs"/>
          <element name="assumptions">
	    <a:documentation>
	      Grouping of assumptions.
	    </a:documentation>
            <oneOrMore>
              <element name="assumption">
		<a:documentation>
		  Describes assumptions made.
		</a:documentation>
		<attribute name="id">
		  <a:documentation>
		    An assumption-wide unique ID that is also displayed to the user.
		  </a:documentation>
		</attribute>
                <ref name="description"/>
                <ref name="objective-refer"/>
              </element>
            </oneOrMore>
          </element>
	  <ref name="subsection-pattern"/>
          <element name="threats">
	    <a:documentation>
	      Wrapper element for various threats.
	    </a:documentation>
            <oneOrMore>
              <element name="threat">
		<a:documentation>
		  Defines a threat.
		</a:documentation>
                <attribute name="id">
                  <data type="NCName">
		    <param name="pattern">T\.[_A-Z0-9]+</param>
		  </data>
                </attribute>
                <ref name="description"/>
                <oneOrMore>
                  <ref name="objective-refer"/>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
          <element name="usecases">
	    <a:documentation>
	      Wrapper element for uses cases.
	    </a:documentation>
            <oneOrMore>
              <element name="usecase">
		<a:documentation>
		  A referrable section on how the protection profiled item is used.
		</a:documentation>
		<ref name="id-attr"/>
		<ref name="title-attr"/>
                <ref name="description"/>
              </element>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="description">
    <element name="description">
      <a:documentation>
	A description section. Basically just has basic content and
      </a:documentation>
      <oneOrMore>
        <choice>
	  <ref name="basic-content"/>
          <element name="InsertAppendixExplainer">
	    <a:documentation>
	      Tag that denotes where an explanation of where the different types (objective, threshold, optional)
	      of requirements are located.
	    </a:documentation>
	    <empty/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="aactivity">
    <element name="aactivity">
      <a:documentation>Element containing an Assurance Activity.</a:documentation>
      <ref name="basic-content"/>
    </element>
  </define>

  <define name="title">
    <element name="title">
      <a:documentation>
	Contains the formal wording for the requirement (either for a-elements or f-elements).
	Must match requirements in CC Part 2 (unless it is an _ext requirement).
      </a:documentation>
      <oneOrMore><choice>
	<ref name="basic-content"/>
        <element name="management-function-set">
	  <a:documentation>
	    Table defining functions that are to be done and what role is required to do them.
	  </a:documentation>
	  <attribute name="default">
	    <a:documentation>Is the default value(index).</a:documentation>
	    <choice>
	      <value>M</value>
	      <value>O</value>
	      <value>_</value>
	    </choice>
	  </attribute>
	  <oneOrMore>
            <element name="manager">
	      <a:documentation>
		Readable role name
	      </a:documentation>
	      <attribute name="id">
		<a:documentation>
		  ID unique to this management-function-set. Cross-referenced by the O,M,_ elements
		  in the management-function.
		</a:documentation>
	      </attribute>
	      <text/>
            </element>
	  </oneOrMore>
          <oneOrMore>
            <element name="management-function">
	      <element name="text">
		<a:documentation>Describes the management function.</a:documentation>
		<ref name="basic-content"/>
	      </element>
	      <zeroOrMore>
		<choice>
		  <element name="M">
		    <a:documentation>References for which managers this function is mandatory</a:documentation>
		    <attribute name="ref">
		      <a:documentation>ID respective manager</a:documentation>
		    </attribute>
		    <empty/>
		  </element>
		  <element name="O">
		    <a:documentation>References for which managers this function is optional</a:documentation>
		    <attribute name="ref">
		      <a:documentation>ID respective manager</a:documentation>
		    </attribute>
		    <empty/>
		  </element>
		  <element name="_">
		    <a:documentation>References for which managers this function is not applicable</a:documentation>
		    <attribute name="ref">
		      <a:documentation>ID respective manager</a:documentation>
		    </attribute>
		    <empty/>
		  </element>
		</choice>
	      </zeroOrMore>
            </element>
          </oneOrMore>
        </element>
      </choice></oneOrMore>
    </element>
  </define>





  <define name="refinement-type">
    <a:documentation>
      Denotes a refinement.
    </a:documentation>
    <element name="refinement">
      <ref name="basic-content"/>
    </element>
  </define>


  <define name="basic-content">
    <a:documentation>
      Content that can go anywhere (Although some items are only suitable for title elements).
    </a:documentation>
    <oneOrMore>
      <choice>
	<text/>
	<element name="if-opt-app">
	  <a:documentation>
	    Content that only appears if the optional appendices exist.
	  </a:documentation>
	  <ref name="basic-content"/>
	</element>
	<ref name="html-element"/>
	<ref name="linkref"/>
	<ref name="citeCC"/>
        <ref name="cite"/>
        <ref name="secref"/>
        <ref name="testlist"/>
	<ref name="selectables"/>
	<ref name="assignable"/>
        <ref name="appref"/>
	<ref name="abbr-el"/>
	<ref name="xref"/>
	<ref name="refinement-type"/>
	<ref name="ctr-ref"/>
	<ref name="ctr"/>
	<ref name="figure"/>
	<ref name="figref"/>
        <element name="indent">
	  <a:documentation>
	    Tags that this section should be indented(left) 2em.
	  </a:documentation>
	  <ref name="basic-content"/>
	</element>
	<element name="TSS">
	  <a:documentation>
	    Denotes a TSS section.
	  </a:documentation>
	  <empty/>
	</element>
        <element name="Guidance">
	  <a:documentation>
	    Denotes a Guidance section.
	  </a:documentation>
	  <empty/>
        </element>
        <element name="Tests">
	  <a:documentation>
	    Denotes a tests section.
	  </a:documentation>
	  <empty/>
        </element>
      </choice>
    </oneOrMore>
  </define>


  <define name="a-elements">
    <oneOrMore>
      <element name="a-element">
	<a:documentation>
	  Defines a functional requirement.
	</a:documentation>
	<attribute name="id">
	  <a:documentation>
	    A document-wide unique ID that is also displayed to the user.
	    It should be the base component id  (i.e. no number in parenthesis) plus the number of preceding siblings +1
	  </a:documentation>
	</attribute>
	<ref name="title"/>
	<optional>
          <ref name="note"/>
	</optional>
	<optional>
          <ref name="aactivity"/>
	</optional>
      </element>
    </oneOrMore>
  </define>

  <define name="testlist">
    <element name="testlist">
      <a:documentation>
	Defines a lists of tests to evaluate a requirement.
      </a:documentation>
      <oneOrMore>
        <choice>
	  <ref name="basic-content"/>
          <element name="test">
	    <a:documentation>
	      Denotes a single test.
	    </a:documentation>
	    <oneOrMore>
	      <choice>
		<ref name="basic-content"/>
		<ref name="testlist"/>
		<ref name="steplist"/>
	      </choice>
	    </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="steplist">
    <element name="steplist">
      <a:documentation>
	Defines a list of steps to perform a test.
      </a:documentation>
      <oneOrMore>
	<choice>
	  <ref name="basic-content"/>
	  <element name="step">
	    <a:documentation>
	      Denotes a single step.
	    </a:documentation>
	    <oneOrMore>
	      <choice>
		<ref name="basic-content"/>
		<ref name="steplist"/>
	      </choice>
	    </oneOrMore>
	  </element>
	</choice>
      </oneOrMore>
    </element>
  </define>



  <define name="entry-el">
    <element name="entry">
      <a:documentation>
	Wrapper for terms and descriptions.
      </a:documentation>
      <optional>
	<attribute name="id">
	  <a:documentation>
	    Unique ID for this entry so it can be linked. 
	    If omitted, it can still be linked with the name or term.
	  </a:documentation>
	</attribute>
      </optional>

      <choice>
	<element name="name">
	  <a:documentation></a:documentation>
	  <ref name="basic-content"/>
	</element>
	<element name="term">
	  <a:documentation>
	    Thing being defined.
	  </a:documentation>
	  <ref name="basic-content"/>
	</element>
      </choice>
      <element name="description">
	<a:documentation>Description of the term/name.</a:documentation>
	<ref name="basic-content"/>
      </element>
    </element>
  </define>

  <define name="f-component-pattern">
    <element name="f-component">
      <a:document>
	Specifies a component under Security Functional Requirements section..
      </a:document>
      <attribute name="id">
	<a:documentation>
	  A document-wide unique id. Not really read by a person, but it
	  should be the base for its child requirements' ids.
	</a:documentation>
      </attribute>
      <attribute name="name">
	<a:documentation>
	  Readable title for this requirement.
	</a:documentation>
      </attribute>
      <choice>
	<!-- Choice of  status -->
	<!-- If the status is objective, it must have a targetdate(?) -->
	<group>
	  <optional>
	    <attribute name="targetdate">
	      <a:documentation>
		Target date that the requirements under this component become
		manandory. It only makes sense for _objective_ components.
	      </a:documentation>
	      <data type="date"/>
	    </attribute>
	  </optional>
	  <attribute name="status">
	    <a:documentation>
	      Denotes the status of a requirement.
	    </a:documentation>
	    <value>objective</value>
	  </attribute>
	</group>

	<!-- If the status is selection-based, it must have dependencies -->
	<group>
	  <attribute name="status">
	    <a:documentation>
	      Denotes the status of a requirement.
	    </a:documentation>
	    <value>sel-based</value>
	  </attribute>
	  <oneOrMore>
	    <element name="selection-depends">
	      <a:documentation>
		Defines the other requirements whose selection affects whether this component must be also applied.
	      </a:documentation>
	      <attribute name="req">
		<a:documentation>
		  The value of the id attribute of the requirement is component depends on.
		</a:documentation>
		<data type="string">
		  <param name="pattern">.+\.[0-9]+\.[0-9]+(\([0-9]+\))?</param>
		</data>
	      </attribute>
	      <attribute name="ids">
		<a:documentation>
		  A comma delimited list of IDs corresponding to specific 'selectable's which if chosen
		  activate this component.
		</a:documentation>
	      </attribute>
	    </element>
	  </oneOrMore>
	</group>
	
	<!-- The status could also be optional or nothing (which is indicated here) -->
	<optional>
	  <attribute name="status">
	    <a:documentation>
	      Denotes the status of a requirement.
	    </a:documentation>
	    <choice>
	      <value>optional</value>
	    </choice>
	  </attribute>
	</optional>


      </choice>
      <optional><ref name="note"/></optional>
      <zeroOrMore>
        <element name="f-element">
	  <a:documentation>
	    Defines a functional requirement.
	  </a:documentation>
          <attribute name="id">
	    <a:documentation>
	      A document-wide unique ID that is also displayed to the user.
	      It should be the base component id  (i.e. no number in parenthesis) plus the number of preceding siblings +1
	    </a:documentation>
	  </attribute>
          <ref name="title"/>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="aactivity"/>
              <ref name="assignable"/>
              <ref name="note"/>
              <ref name="selectables"/>
            </choice>
          </oneOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>    
  <define name="subsection-pattern">
    <element name="subsection">
      <a:documentation>
	Lower level of grouping
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <oneOrMore>
        <choice>
	  <ref name="subsection-pattern"/>
	  <ref name="basic-content"/>
	  <ref name="a-component-pattern"/>
	  <ref name="f-component-pattern"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  
  <define name="a-component-pattern">
    <element name="a-component">
      <a:document>
	Specifies a component under Security Assurance Requirements section.
      </a:document>
      <ref name="id-attr"/>
      <attribute name="name">
	<a:document>
	  A readable title for this component
	</a:document>
      </attribute>
      <ref name="basic-content"/>
      <optional>
	<element name="summary">
	  <a:documentation>
	    Summary of this component.
	  </a:documentation>
	  <ref name="basic-content"/>
	</element>
      </optional>

      <oneOrMore>
        <element name="evalactionlabel">
	  <a:documentation>
	    Actions levied on a role.
	  </a:documentation>
	  <attribute name="title"></attribute>
	</element>
	<ref name="a-elements"/>
      </oneOrMore>
    </element>
  </define>

  <define name="glossary-section">
    <element name="glossary">
      <a:documentation>
	Section to define terms.
      </a:documentation>
      <oneOrMore>
	<ref name="entry-el"/>
      </oneOrMore>
    </element>
  </define>




</grammar>
