schemas/CCProtectionProfileStrict.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	  ns="https://niap-ccevs.org/cc/v1" xmlns:h="http://www.w3.org/1999/xhtml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">


  <include href="Commons.rng"/>


  <start>
    <element name="PP">
      <a:documentation>
	Root element for a Protection Profile Module.
      </a:documentation>
      <ref name="pp-attributes-pat"/>
      <ref name="PPRefAndRevision"/>
      <ref name="IntroductionChapter"/>
      <ref name="CClaimsChapter"/>
      <ref name="SecProbDesChapter"/>
      <ref name="SecObjChapter"/>
      <ref name="SecReqChapter"/>
      <ref name="appendix-placeholders-pat"/>
      <ref name="additional-appendices"/>
      <ref name="bibliography-appendix"/>
      <ref name="acronym-appendix"/>
    </element>
  </start>

  <define name="bibliography-appendix">
    <element name="appendix">
      <attribute name="title"><value>References</value></attribute>
      <ref name="id-attr"/>
      <ref name="bibliography"/>
    </element>
  </define>

  <define name="acronym-appendix">
    <element name="appendix">
      <attribute name="title"><value>Acronyms</value></attribute>
      <ref name="id-attr"/>
      <ref name="acronyms"/>
    </element>
  </define>



  <define name="appendix-placeholders-pat">
    <element name="appendix">
      <ref name="id-attr"/>
      <attribute name="title">
	<value>Optional Requirements</value>
      </attribute>
    </element>
    <element name="appendix">
      <ref name="id-attr"/>
      <attribute name="title">
	<value>Selection-Based Requirements</value>
      </attribute>
    </element>
    <element name="appendix">
      <ref name="id-attr"/>
      <attribute name="title">
	<value>Objective Requirements</value>
      </attribute>
    </element>
  </define>


  <define name="additional-appendices">
    <zeroOrMore>
      <ref name="appendix"/>
    </zeroOrMore>
  </define>

  <define name="appendix">
    <a:documentation>
      Pattern for title attribute.
    </a:documentation>
    <element name="appendix">
      <a:documentation>
	Element that defines an appendix.
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <oneOrMore>
        <choice>
	  <ref name="basic-content-pat"/>
          <ref name="section"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="section">
    <element name="section">
      <a:documentation>
	A block smaller than a chapter.
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <choice>
	<ref name="basic-content-pat"/>
	<ref name="subsection-pattern"/>
      </choice>
    </element>
  </define>

  <define name="subsection-pattern">
    <element name="subsection">
      <a:documentation>
	Lower level of grouping
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <oneOrMore>
        <choice>
	  <ref name="subsection-pattern"/>
	  <ref name="basic-content-pat"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="pp-attributes-pat">
    <attribute name="name">
      <a:documentation>
	Informal name that is not displayed, but instead is used to link modules
	to base PPs. It should remain constant between releases even if the
	PPTitle changes.
      </a:documentation>
    </attribute>
    <ref name="boilerplate-pat"/>
  </define>
  
  <define name="SecReqChapter">
    <element name="chapter">
      <a:documentation>
	The chapter for security requirements.
      </a:documentation>
      <attribute name="title"><value>Security Requirements</value></attribute>
      <ref name="id-attr"/>
      <ref name="basic-content-pat"/>
      <element name="section">
	<attribute name="title"><value>Security Functional Requirements</value></attribute>
	<ref name="id-attr"/>
	<ref name="f-subsections-pat"/>
      </element>
      <element name="section">
	<attribute name="title"><value>Security Assurance Requirements</value></attribute>
	<ref name="id-attr"/>
	<ref name="basic-content-pat"/>
	<ref name="a-subsections-pat"/>
      </element>
    </element>
  </define>
  

  <define name="f-subsections-pat">
    <zeroOrMore>
      <element name="subsection">
	<a:documentation>
	  Defines SFRs that pertain to specific base.
	</a:documentation>
	<ref name="title-attr"/>
	<ref name="id-attr"/>
	<zeroOrMore>
	  <ref name="f-component"/>
	</zeroOrMore>
      </element>
    </zeroOrMore>
  </define>


  <define name="f-component">
    <element name="f-component">
      <a:document>
	Specifies a component under Security Functional Requirements section..
      </a:document>
      <attribute name="id">
	<a:documentation>
	  A document-wide unique id. Not really read by a person, but it
	  should be the base for its child requirements' ids.
	</a:documentation>
      </attribute>
      <attribute name="name">
	<a:documentation>
	  Readable title for this requirement.
	</a:documentation>
      </attribute>


      <choice>
	<!-- If the status is selection-based, it must have dependencies -->
	<group>
	  <attribute name="status">
	    <a:documentation>
	      Denotes the status of a requirement.
	    </a:documentation>
	    <value>sel-based</value>
	  </attribute>
	  <oneOrMore>
	    <ref name="selection-depends"/>
	  </oneOrMore>
	</group>
	
	<!-- The status could also be optional or nothing (which is indicated here) -->
	<optional>
	  <attribute name="status">
	    <a:documentation>
	      Denotes the status of a requirement.
	    </a:documentation>
	    <choice>
	      <value>optional</value>
	      <value>objective</value>
	    </choice>
	  </attribute>
	</optional>
      </choice>

      <ref name="f-elements-pat"/>
    </element>
  </define>



  <define name="a-subsections-pat">
    <zeroOrMore>
      <element name="subsection">
	<a:documentation>
	  Defines SARs that pertain to specific base.
	</a:documentation>
	<ref name="title-attr"/>
	<ref name="id-attr"/>
	<ref name="basic-content-pat"/>
	<zeroOrMore>
	  <ref name="a-component"/>
	</zeroOrMore>
      </element>
    </zeroOrMore>
  </define>

  <define name="a-component">
    <element name="a-component">
      <a:document>
	Specifies a component under Security Functional Requirements section..
      </a:document>
      <attribute name="id">
	<a:documentation>
	  A document-wide unique id. Not really read by a person, but it
	  should be the base for its child requirements' ids.
	</a:documentation>
      </attribute>
      <attribute name="name">
	<a:documentation>
	  Readable title for this requirement.
	</a:documentation>
      </attribute>
      <ref name="basic-content-pat"/>
      <ref name="grouped-a-elements-pat"/>
    </element>
  </define>

  <define name="grouped-a-elements-pat">
    <element name="evalactionlabel">
      <attribute name="title"><value>Developer action elements:</value></attribute>
    </element>
    <ref name="a-elements-pat"/>
    <element name="evalactionlabel">
      <attribute name="title"><value>Content and presentation elements:</value></attribute>
    </element>
    <ref name="a-elements-pat"/>
    <element name="evalactionlabel">
      <attribute name="title"><value>Evaluator action elements:</value></attribute>
    </element>
    <ref name="a-elements-pat"/>
  </define>

  <define name="a-elements-pat">
    <oneOrMore>
      <element name="a-element">
	<a:documentation>
	  Defines a functional requirement.
	</a:documentation>
	<attribute name="id">
	  <a:documentation>
	    A document-wide unique ID that is also displayed to the user.
	    It should be the base component id  (i.e. no number in parenthesis) plus the number of preceding siblings +1
	  </a:documentation>
	</attribute>
	<ref name="f-element-title"/>
	<optional>
          <ref name="note"/>
	</optional>
	<optional>
	  <element name="aactivity">
	    <a:documentation>An Evaluation Activity for that applies to this requirement or possibly all previous requirements in this component.</a:documentation>
	    <ref name="basic-content-pat"/>
	  </element>
	</optional>
      </element>
    </oneOrMore>
  </define>
  

  <define name="SecObjChapter">
    <element name="chapter">
      <a:documentation>
	Chapter describing the Security Objectives for this module.
      </a:documentation>
      <attribute name="title"><value>Security Objectives</value></attribute>
      <ref name="id-attr"/>
      <ref name="basic-content-pat"/>
      <element name="section">
	<a:documentation>
	  Section describing the Security Objectives for the TOE.
	</a:documentation>
	<attribute name="title"><value>Security Objectives for the TOE</value></attribute>
	<ref name="id-attr"/>
	<ref name="SOs"/>
      </element>
      <element name="section"> 
	<a:documentation>
	  Section describing the Security Objectives for the TOE's Operational Environment.
	</a:documentation>
	<attribute name="title"><value>Security Objectives for the Operational Environment</value></attribute>
	<ref name="id-attr"/>
	<ref name="basic-content-pat"/>
	<optional>
	  <ref name="SOEs"/>
	</optional>
      </element>
      <element name="section">
	<a:documentation></a:documentation>
	<attribute name="title"><value>Security Objectives Rationale</value></attribute>
	<ref name="id-attr"/>
	<ref name="basic-content-pat"/>
      </element>
    </element>
  </define>

  <define name="SecProbDesChapter">
    <element name="chapter">
      <a:documentation>
      </a:documentation>
      <attribute name="title"><value>Security Problem Description</value></attribute>
      <ref name="id-attr"/>
      <ref name="basic-content-pat"/>
      <element name="section">
	<a:documentation>
	  Section describing threats.
	</a:documentation>
	<attribute name="title"><value>Threats</value></attribute>
	<ref name="id-attr"/>
	<ref name="basic-content-pat"/>
	<element name="threats">
	  <a:documentation>
	  </a:documentation>
	  <oneOrMore>
	    <element name="threat">
	      <a:documentation>
	      </a:documentation>
	      <ref name="id-attr"/>
	      <ref name="description"/>
	      <oneOrMore>
		<ref name="objective-refer"/>
	      </oneOrMore>
	    </element>
	  </oneOrMore>
	</element>
      </element>

      <element name="section">
	<a:documentation>
	  Section describing Assumptions.
	</a:documentation>
	<attribute name="title"><value>Assumptions</value></attribute>
	<ref name="id-attr"/>
	<ref name="basic-content-pat"/>
	<ref name="assumptions"/>
      </element>

      <optional>
	<ref name="osp-section"/>
      </optional>
    </element>
  </define>

  <define name="CClaimsChapter">
    <element name="chapter">
      <a:documentation>
      </a:documentation>
      <attribute name="title"><value>Conformance Claims</value></attribute>
      <ref name="id-attr"/>
    </element>
  </define>

  <define name="IntroductionChapter">
    <element name="chapter">
      <a:documentation>
      </a:documentation>
      <attribute name="title"><value>Introduction</value></attribute>
      <ref name="id-attr"/>
      <element name="section">
	<a:documentation>
	</a:documentation>
	<attribute name="title"><value>Overview</value></attribute>
	<ref name="id-attr"/>
	<ref name="basic-content-pat"/>
      </element>
      <element name="section">
	<a:documentation>
	</a:documentation>
	<attribute name="title"><value>Terms</value></attribute>
	<ref name="id-attr"/>
	<ref name="basic-content-pat"/>
	<element name="subsection">
	  <a:documentation>
	  </a:documentation>
	  <attribute name="title"><value>Common Criteria Terms</value></attribute>
	  <ref name="glossary-el"/>
	</element>
	<element name="subsection">
	  <a:documentation>
	  </a:documentation>
	  <attribute name="title"><value>Technical Terms</value></attribute>
	  <ref name="glossary-el"/>
	</element>
      </element>
      <element name="section">
	<a:documentation>
	</a:documentation>
	<attribute name="title"><value>Compliant Targets of Evaluation</value></attribute>
	<ref name="id-attr"/>
	<element name="subsection">
	  <attribute name="title"><value>TOE Boundary</value></attribute>
	  <ref name="id-attr"/>
	  <ref name="basic-content-pat"/>
	</element>
	<element name="subsection">
	  <attribute name="title"><value>TOE Platform</value></attribute>
	  <ref name="id-attr"/>
	  <ref name="basic-content-pat"/>
	</element>
      </element>
      <element name="section">
	<a:documentation>
	</a:documentation>
	<attribute name="title"><value>Use Cases</value></attribute>
	<ref name="id-attr"/>
	<ref name="basic-content-pat"/>
        <element name="usecases">
	  <a:documentation>
	    Wrapper element for uses cases.
	  </a:documentation>
          <oneOrMore>
            <element name="usecase">
	      <a:documentation>
		A referrable section on how the protection profiled item is used.
	      </a:documentation>
	      <ref name="id-attr"/>
	      <ref name="title-attr"/>
	      <ref name="description"/>
            </element>
          </oneOrMore>
        </element>
      </element>
    </element>
  </define>



  <define name="glossary-el">
    <element name="glossary">
      <a:documentation>
      </a:documentation>
      <oneOrMore>
	<element name="entry">
	  <a:documentation>
	  </a:documentation>
	  <element name="term"><ref name="basic-content-pat"/></element>
	  <ref name="description"/>
	</element>
      </oneOrMore>
    </element>
  </define>




  <define name="base-name">
    <element name="base-name">
      <a:documentation>	Variable that references the base name of the PP </a:documentation>
      <empty/>
    </element>
  </define>

  <define name="consistency-rationale">
    <element name="consistency-rationale">
      <a:documentation> 
	Common rationale that will go into the consisteny-rationale in each base-pp
	section (unless the base redefines it).
      </a:documentation>
      <oneOrMore>
	<choice>
	  <ref name="basic-content-pat"/>
	  <ref name="base-name"/>
	</choice>
      </oneOrMore>
    </element>
  </define>

  <define name="boilerplate-pat">
    <optional>
      <attribute name="boilerplate">
	<value>yes</value>
      </attribute>
    </optional>
  </define>



  <define name="PPRefAndRevision">
    <element name="PPReference">
      <a:documentation>
      </a:documentation>
      <element name="ReferenceTable">
	<a:documentation>
	</a:documentation>
        <element name="PPTitle">
	  <a:documentation>
	    The formal name of this PP.
	  </a:documentation>
	  <text/>
	</element>

        <element name="PPVersion">
	  <a:documentation>
	  </a:documentation>
          <data type="decimal"/>
        </element>
        <element name="PPAuthor">
	  <a:documentation>
	  </a:documentation>
          <text/>
        </element>
        <element name="PPPubDate">
	  <a:documentation>
	    Date of publication for this PP.
	  </a:documentation>
          <data type="date"/>
        </element>
        <element name="Keywords">
	  <a:documentation>
	  </a:documentation>
          <text/>
        </element>
      </element>
    </element>

    <oneOrMore>
      <element name="RevisionHistory">
	<a:documentation>
	</a:documentation>
        <oneOrMore>
	  <element name="entry">
	    <a:documentation>
	    </a:documentation>
	    <element name="version"><text/></element>
	    <element name="date"><data type="date"/></element>
	    <element name="subject"><ref name="basic-content-pat"/></element>
	  </element>
        </oneOrMore>
      </element>
    </oneOrMore>
  </define>


</grammar>
