schemas/Commons.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
    xmlns:sec="https://niap-ccevs.org/cc/v1/section" 
    xmlns:h="http://www.w3.org/1999/xhtml" 
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    ns="https://niap-ccevs.org/cc/v1" 
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<!--
  <define name="audit-event">
    <a:documentation></a:documentation>
    <element name="audit-event">
      <element name="sfr>
         <attribute name="ref"/>
         <empty/>
      </element>
      <element name="
    </element>
  </define>
-->
   <define name="Introduction">
      <element name="sec:Introduction">
        <ref name="boilerplate-no-attr"/>
        <ref name="section"/>
        <ref name="tech-terms"/>
        <zeroOrMore> <ref name="section"/> </zeroOrMore>
        <optional> <ref name="usecases-section"/></optional>
        <zeroOrMore> <ref name="section"/> </zeroOrMore>
      </element>
  </define>

 <define name="usecases-section">
   <choice>
     <element name="section">
       <attribute name="title"><value>Use Cases</value></attribute>
       <attribute name="id"/>
        <ref name="usecases-section-content"/>
      </element>   
      <element ns="https://niap-ccevs.org/cc/v1/section">
        <anyName>
          <except>
            <nsName ns="https://niap-ccevs.org/cc/v1"/>
            <nsName ns="http://www.w3.org/1999/xhtml"/>
          </except>
        </anyName>
        <attribute name="title"><value>Use Cases</value></attribute>
        <ref name="usecases-section-content"/>
      </element>
     <element name="sec:Use_Cases">
      <a:documentation>
        Section specific for use cases.
      </a:documentation>
        <ref name="usecases-section-content"/>
      </element>
    </choice>
  </define>

  <define name="usecases-section-content">
    <ref name="basic-content-pat"/>
    <element name="usecases">
      <a:documentation>
        Wrapper element for uses cases.
      </a:documentation>
      <oneOrMore>
        <element name="usecase">
          <a:documentation>
            A referrable section on how the protection profiled item is used.
          </a:documentation>
          <ref name="id-attr"/>
          <ref name="title-attr"/>
          <ref name="description"/>
          <optional><ref name="config"/></optional>
        </element>
      </oneOrMore>
    </element>
  </define>
 
 <define name="project-notes">
    <optional><element name="project-notes">
      <text/>
    </element></optional>
  </define>

  <define name="title-attr">
    <a:documentation>
      Pattern for title attribute.
    </a:documentation>
    <attribute name="title">
      <a:documentation>Header that is visible to the user.</a:documentation>
    </attribute>
  </define>

  <define name="threat-name-attr">
    <attribute name="name">
      <data type="string">
        <param name="pattern">T\.[_A-Z0-9]+</param>
      </data>
    </attribute>
  </define>

  <define name="SecProbDesChapter">
    <choice>
      <element name="section">
        <attribute name="title"><value>Security Problem Description</value></attribute>
        <ref name="optional-id"/>
        <ref name="prob-des-content"/>
      </element>
      <element name="sec:Security_Problem_Description">
        <ref name="prob-des-content"/>
      </element>
      <element ns="https://niap-ccevs.org/cc/v1/section">
        <anyName><except>
          <nsName ns="https://niap-ccevs.org/cc/v1"/>
          <nsName ns="http://www.w3.org/1999/xhtml"/>
        </except></anyName>
        <attribute name="title"><value>Security Problem Description</value></attribute>
        <ref name="prob-des-content"/>
      </element>
    </choice>
  </define>

  <define name="prob-des-content">
    <ref name="basic-content-pat"/>
    <choice>
      <element name="section">
        <a:documentation>
          Section describing threats.
        </a:documentation>
        <attribute name="title"><value>Threats</value></attribute>
        <ref name="optional-id"/>
        <ref name="basic-content-pat"/>
        <ref name="threats"/>
      </element>
      <element name="sec:Threats">
        <ref name="basic-content-pat"/>
        <ref name="threats"/>
      </element>
      <element ns="https://niap-ccevs.org/cc/v1/section">
        <anyName><except>
          <nsName ns="https://niap-ccevs.org/cc/v1"/>
          <nsName ns="http://www.w3.org/1999/xhtml"/>
        </except></anyName>
        <attribute name="title"><value>Threats</value></attribute>
        <ref name="basic-content-pat"/>
        <ref name="threats"/>
      </element>
    </choice>
    <choice> 
      <element name="section">
	<a:documentation>
	  Section describing Assumptions.
	</a:documentation>
	<attribute name="title"><value>Assumptions</value></attribute>
	<ref name="optional-id"/>
	<ref name="basic-content-pat"/>
	<ref name="assumptions"/>
      </element>
      <element name="sec:Assumptions">
        <ref name="basic-content-pat"/>
	<ref name="assumptions"/>
      </element>
      <element ns="https://niap-ccevs.org/cc/v1/section">
        <anyName><except>
          <nsName ns="https://niap-ccevs.org/cc/v1"/>
          <nsName ns="http://www.w3.org/1999/xhtml"/>
        </except></anyName>
 	<attribute name="title"><value>Assumptions</value></attribute>
	<ref name="basic-content-pat"/>
	<ref name="assumptions"/>
      </element>
    </choice>
    <optional> <ref name="osp-section"/> </optional>
  </define>

  <define name="SecObjChapter">
    <choice>
      <element name="section">
        <a:documentation>
  	Chapter describing the Security Objectives for this module.
        </a:documentation>
        <attribute name="title"><value>Security Objectives</value></attribute>
        <ref name="optional-id"/>
        <ref name="sec-obj-content"/>
      </element>
      <element name="sec:Security_Objectives">     
        <ref name="sec-obj-content"/>
      </element>
    </choice>
  </define>

  <define name="sec-obj-content">
    <ref name="basic-content-pat"/>
    <choice>
      <element name="section">
        <a:documentation>
	  Section describing the Security Objectives for the TOE.
	</a:documentation>
	<attribute name="title"><value>Security Objectives for the TOE</value></attribute>
	<ref name="optional-id"/>
	<!-- Don't know if we need this -->
	<ref name="basic-content-pat"/>
	<ref name="SOs"/>
      </element>
      <element name="sec:Security_Objectives_for_the_TOE">
         <ref name="basic-content-pat"/>
	<ref name="SOs"/>
      </element>
    </choice>
    <choice>
      <element name="section">
	<a:documentation>
	  Section describing the Security Objectives for the TOE's Operational Environment.
	</a:documentation>
	<attribute name="title"><value>Security Objectives for the Operational Environment</value></attribute>
	<ref name="optional-id"/>
	<ref name="basic-content-pat"/>
	<zeroOrMore> <ref name="SOEs"/> </zeroOrMore>
      </element>
      <element name="sec:Security_Objectives_for_the_Operational_Environment">
	<ref name="basic-content-pat"/>
	<zeroOrMore> <ref name="SOEs"/> </zeroOrMore>
      </element>
    </choice>
    <choice> 
      <element name="section">
	<a:documentation>
	  Section describing the rationale for why this module's security objectives do not
	  conflict with the base PPs.
	</a:documentation>
	<attribute name="title"><value>Security Objectives Rationale</value></attribute>
	<ref name="optional-id"/>
      </element>
      <element name="sec:Security_Objectives_Rationale"><empty/></element>
    </choice>
  </define>

  <define name="appendices-pat">
    <a:documentation>
      Pattern for title attribute.
    </a:documentation>
    <oneOrMore>
      <element name="appendix">
        <a:documentation>
          Element that defines an appendix.
        </a:documentation>
        <ref name="id-attr"/>
        <ref name="title-attr"/>
        <ref name="boilerplate-no-attr"/>
        <oneOrMore><choice>
            <ref name="basic-content-pat"/>
            <ref name="section"/>
            <ref name="acronyms"/>
            <ref name="bibliography"/>
        </choice></oneOrMore>
      </element>
    </oneOrMore>
  </define>




  <define name="boilerplate-no-attr">
    <a:documentation>
      Attribute to stifle boilerplate text from being included in this section.
    </a:documentation>
    <optional>
      <attribute name="boilerplate">
        <value>no</value>
      </attribute>
    </optional>
  </define>

  <define name="bibliography">
    <element name="bibliography">
      <a:documentation>
        Section to define the items references.
      </a:documentation>
      <oneOrMore>
        <choice>
          <element name="cc-entry">
            <a:documentation>
              Inserts the Common Criteria documents.
            </a:documentation>
            <empty/>
          </element>

          <element name="entry">
            <a:documentation>
              Groups bibliograph entries.
            </a:documentation>
            <ref name="id-attr"/>
            <element name="tag">
              <a:documentation>
                A visible bibliography-wide unique identifier.
              </a:documentation>
              <ref name="basic-content-pat"/>
            </element>
            <ref name="description"/>
          </element>
          
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="tech-terms">
      <element name="tech-terms">
        <a:documentation>
Section that defines both technical terms and acronyms.
If it's only an acronym make sure the text content is empty.
        </a:documentation>
        <zeroOrMore>
          <element name="term">
            <attribute name="full"/>
            <optional><attribute name="abbr"/></optional>
			<optional><attribute name="plural"/></optional>
            <ref name="basic-content-pat"/>
          </element>
        </zeroOrMore>
      </element>
  </define>
  <define name="xref">
    <element name="xref">
     <a:documentation>
        Cross references something 
     </a:documentation>
       <choice>
         <ref name="to-attr"/>
         <attribute name="g">
           <choice>
             <value>glossary</value>
             <value>CC</value>
             <value>t-audit-mandatory</value>
             <ref name="gen-values"/>
            </choice>
         </attribute>
       </choice>
    </element>
  </define>

  <define name="gen-values">
    <empty/>
  </define>

  <define name="xref-content">
    <ref name="to-attr"/>
  </define>
<!--
  <define name="appref">
    <element name="appref">
      <a:documentation>Cross references an item in the appendex</a:documentation>
      <ref name="to-attr"/>
    </element>
 </define>
-->
  <define name="audit-events-pat">
    <zeroOrMore>
      <element name="audit-event">
        <a:documentation>
              The "type" attribute has legal values of "normal" or "optional." Default is "normal."
              Normal means that the content of the audit-event-descr tag literally represents an audit event.
              Optional means that the content of the audit-event-descr tag should be treated as a selection with one other 
              option as "None." 
          </a:documentation>
          <optional>
              <attribute name="type">
                  <choice>
                      <value>normal</value>
                      <value>optional</value>
                  </choice>
              </attribute>
          </optional>
         <a:documentation>
              The "table" attribute identifies the audit table to which the current audit event belongs.
              The default value is the value of the status attribute of the enclosing f-component (mandatory,
              optional, sel-based, or objective). If specified, the value must match the name of a table defined in a
              audit-table tag.
          </a:documentation>
          <optional>
              <attribute name="table" />
          </optional>
          <optional>
            <ref name="audit-event-descr-pat"/>
          </optional>
          <zeroOrMore>
            <ref name="audit-event-info-pat"/>
          </zeroOrMore>
      </element>
    </zeroOrMore>
  </define>

  <define name="audit-event-descr-pat">
      <a:documentation>
          Defines the Description field for an audit event. This is the text that appears in 
          column 2 of an audit table. By default the text appears as shown and is intended to 
          represent a single audit event (one event per audit table row). If the enclosing audit-event
          tag has "type" optional, then the content should be dispalyed as a selection of one choice and "None."
      </a:documentation>
      <element name="audit-event-descr">
          <ref name="audit-descr-content-pat"/>
      </element>
    </define>

<define name="audit-descr-content-pat">
  <!-- Audit event descriptions cannot contain selections or assignments. 
       Selections are done through an attribute in the audit-event tag. The description will be displayed as a selection with
       an alternative one "None."
       Assignment in audit event descriptions are just wrong.  -->
      <data type="string">
          <param name="pattern">[^\[]+</param>
      </data>
  </define>

    <define name="audit-event-info-pat">
      <a:documentation>
          Defines the Additional Information field for an audit event. This is the text that appears in 
          column 3 of an audit table. By default the text appears as shown and is intended to 
          represent a single unit of additional information for a single audit event. If the "type" attribute is 
          set to "optional" then the info should be displayed as a selection with the tag content as a choice and "None"
          as the only other choice. The default value for the "type" attribute is "normal." All info content for a single
          audit event should be displayed in the same row of the audit table. 
      </a:documentation>
      <element name="audit-event-info">
          <optional>
              <attribute name="type">
                  <choice>
                      <value>normal</value>
                      <value>optional</value>
                  </choice>
              </attribute>
          </optional>
          <text/>
      </element>
    </define>	
	
 <define name="audit-table-pat">
    <element name="audit-table">
      <attribute name="table" />
      <optional>
        <attribute name="sel-by-sfr">
           <choice>
              <value>false</value>
              <value>true></value>
           </choice>
        </attribute>
      </optional>
      <ref name="basic-content-pat"/>
    </element>
  </define>	


	
  <define name="html-element">
    <a:documentation>
      Pattern defines the html-element, which is any element in the xhtml namespace.
      They have no knowledge of the CC element, and so cannot have any CC descendants.
    </a:documentation>
    <element ns="http://www.w3.org/1999/xhtml">
      <anyName>
        <except>
          <nsName ns="https://niap-ccevs.org/cc/v1"/>
          <nsName ns="https://niap-ccevs.org/cc/v1/section"/>
        </except>
      </anyName>
      <a:documentation>
        Defines all html-elements with an optional number of html attributes and descendants.
      </a:documentation>
      <zeroOrMore>
        <attribute>
          <anyName/>
        </attribute>
      </zeroOrMore>
      <ref name="basic-content-pat"/>
    </element>
  </define>

  <define name="to-attr">
    <attribute name="to">
      <a:documentation>References an ID of the referenced item.</a:documentation>
      <!--      <data type="NCName"/> -->
    </attribute>
  </define>

  <define name="assignable">
    <element name="assignable">
      <a:documentation>
        Assignment section
      </a:documentation>
      <optional><ref name="id-attr"/></optional>
      <ref name="basic-content-pat"/>
    </element>
  </define>

  <define name="ctr">
    <element name="ctr">
      <attribute name="id">
        <a:documentation>
          Unique ID for this object.
        </a:documentation>
      </attribute>

      <attribute name="ctr-type">
        <a:documentation>
          References the counter family. If no prefix is given, this value
          plus a space is used as the prefix.
        </a:documentation>
      </attribute>
      <optional>
        <attribute name="pre">
          <a:documentation>
            Text that goes before the counter (e.g. 'Table ').
            If it's not present, this value is "@ctr-type" + " " 
          </a:documentation>
        </attribute>
      </optional>
      <ref name="basic-content-pat"/>
    </element>
  </define>

  <define name="figure">
    <element name="figure">
      <a:documentation>
        Tag allow that inserts a picture.
      </a:documentation>
      <optional>
        <attribute name="pre">
          <a:documentation>
            Text that goes before the counter (e.g. 'Figure '). It will be included in every reference. By default it is 'Figure '.
          </a:documentation>
        </attribute>
      </optional>
      <attribute name="entity">
        <a:documentation>
          Path to the image file.
        </a:documentation>
      </attribute>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <optional>
        <attribute name="max-width"/>
      </optional>
    </element>
  </define>
<!--
  <define name="figref">
    <element name="figref">
      <a:documentation>
        References a figure
      </a:documentation>
      <attribute name="ref-id">
        <a:documentation>
          Contains the ID of the figure being referenced.
        </a:documentation>
      </attribute>
    </element>
  </define>
-->
  <define name="selectables">
    <element name="selectables">
      <a:documentation>
        A grouping of selectable elements.
      </a:documentation>
      <optional>
        <attribute name="onlyone">
          <a:documentation>
            Designates that at only one item may be selected.
          </a:documentation>
          <choice><value>yes</value></choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="linebreak">
          <a:documentation>
            Indicates that new lines should be appended to every selectable.
          </a:documentation>
          <choice><value>yes</value></choice>
        </attribute>
      </optional>
      <ref name="selectable-group"/>
    </element>
  </define>



  <define name="selectable-single">
    <element name="selectable">
      <a:documentation>
        Denotes the start of a selectable in a selectables section.
      </a:documentation>
      <optional>
        <attribute name="exclusive"><choice><value>yes</value></choice></attribute>
      </optional>
      <optional>
        <ref name="id-attr"/>
      </optional>
      <zeroOrMore>
        <element name="requires">
          <a:documentation>
            Denotes a selection-based element that is required should this selection chosen.
          </a:documentation>
          <attribute name="req">
            <a:documentation>
              The ID of the required element.
            </a:documentation>
          </attribute>
        </element>
      </zeroOrMore>
      <ref name="basic-content-pat"/>
    </element>
  </define>


  <define name="selectable-group">
    <ref name="selectable-single"/>
    <oneOrMore>
      <ref name="selectable-single"/>
    </oneOrMore>
  </define>

  <define name="objective-refer">
    <element name="objective-refer">
      <a:documentation>Element that denotes an objective</a:documentation>
      <attribute name="ref">
        <a:documentation>Attribute the references the id of a specific objective.</a:documentation>
        <data type="string">
          <param name="pattern">O(E?)\.[_A-Z]+</param>
        </data>
      </attribute>
      <element name="rationale">
              <a:documentation>Argument as to why the objective applies</a:documentation>
              <ref name="basic-content-pat"/>
      </element>
    </element>
  </define>

  <define name="note">
    <element name="note">
      <a:documentation>
        Any further instructions associated with the requirement.
      </a:documentation>
      <optional>
        <attribute name="role">
          <a:documentation>Indicates who is associated with this role</a:documentation>
          <choice>
            <value>application</value><value>Application</value>
            <value>developer</value><value>Developer</value>
          </choice>
        </attribute>
      </optional>
      <ref name="basic-content-pat"/>
    </element>
  </define>

  <define name="SOs">
    <element name="SOs">
      <a:documentation>
        Grouping for Security Objective entries.
      </a:documentation>
      <oneOrMore>
        <ref name="SO"/>
      </oneOrMore>
    </element>
  </define>

  <define name="SOEs">
    <element name="SOEs">
      <a:documentation>
Grouping for Security Objective for the Operation Environment entries.
      </a:documentation>
      <oneOrMore>
        <element name="SOE">
          <attribute name="name">
            <data type="string">
              <param name="pattern">OE\.[A-Z_]+</param>
            </data>
          </attribute>
          <optional><ref name="id-attr"/></optional>
          <ref name="origin-pat"/>
        </element>
      </oneOrMore>
    </element>
  </define>
<!--
  <define name="consistency-rationale-placeholder">
    <empty/>
  </define>
  <define name="description-and">
    <ref name="description"/>
  </define>
-->

  <define name="SO">
    <element name="SO">
      <a:documentation>
        Entry for a security objective
      </a:documentation>
      <attribute name="name">
        <data type="string">
          <param name="pattern">O\.[A-Z_]+</param>
        </data>
      </attribute>
      <optional><ref name="id-attr"/></optional>
      <ref name="origin-pat"/>
      <oneOrMore>
        <element name="addressed-by">
          <ref name="basic-content-pat"/>
        </element>
        <element name="rationale">
           <ref name="basic-content-pat"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="basic-content-pat">
    <a:documentation>
      Content that can go anywhere (Although some items are only suitable for title elements).
    </a:documentation>
    <oneOrMore>
      <choice>
        <text/>
        <ref name="depends-pat"/>
        <ref name="html-element"/>
        <ref name="testlist"/>
        <ref name="selectables"/>
        <ref name="assignable"/>
        <ref name="xref"/>
        <element name="_">
          <a:documentation>A cross-reference to the closest ancestor with an ID. 
            It only makes sense inside management-functions.</a:documentation>
          <empty/>
        </element>
        <element name="snip">
          <a:documentation>Designates that when refering to the parent element use only the
             content wthin this snippet. Currently only makes sense inside a selectable.
          </a:documentation>
          <ref name="basic-content-pat"/>
        </element>
        <ref name="refinement-type"/>
        <ref name="ctr"/>
        <ref name="figure"/>
        <ref name="equation"/>
        <element name="choice"><ref name="basic-content-pat"/></element>
        <element name="no-link">
           <a:documentation>Stops automatic abbreviation, component, and element identification in the children.</a:documentation>
            <ref name="basic-content-pat"/>
        </element>
        <ref name="custom-basic-content-pat"/>
      </choice>
    </oneOrMore>
  </define>

  <define name="equation">
    <element name="equation">
      <a:documentation>
        Element for mathematical equation.
        Its content is MathML text representing the equation.
        Do not wrap with dollar signs. These will be added.
      </a:documentation>
      <ref name="id-attr"/>
      <text/>
    </element>
  </define>

	
  <define name="audit-events">
    <element name="audit-events">
      <attribute name="table"/>
      <ref name="basic-content-pat"/>
      <zeroOrMore><ref name="depends-pat"/></zeroOrMore>
    </element>
  </define>

  <!-- ###################################################
       This is here so that other schemas that import this 
       can redefine this to add their own items to basic
       content and not redefine all of basic-content.
       ################################################### -->
  <define name="custom-basic-content-pat">
    <empty/>
  </define>



  <define name="ext-comp-def-pat">
    <zeroOrMore>
	    <element name="ext-comp-def">
        <a:documentation>
          Extended Component Definition
        </a:documentation>
        <attribute name="fam-id">
          <ref name="fam-id-spat"/>
        </attribute>
        <attribute name="title">
        </attribute>
        <choice>
          <element name="mod-def">
            <a:documentation>
Modification definition. This text goes in the
'Extended Components Definitions'.
            </a:documentation>
            <ref name="basic-content-pat"/>
          </element>
          <element name="fam-behavior">
            <ref name="basic-content-pat"/>
          </element>
        </choice>
      </element>
    </zeroOrMore>
  </define>

  <define name="ext-comp-extra-pat">
    <optional>
      <element name="comp-lev">
        <ref name="basic-content-pat"/>
      </element>
    </optional>
    <optional>
      <element name="management">
        <ref name="basic-content-pat"/>
      </element>
    </optional>
    <optional>
      <element name="audit">
        <ref name="basic-content-pat"/>
      </element>
    </optional>
    <optional>
      <element name="dependencies">
        <ref name="basic-content-pat"/>
      </element>
    </optional>
  </define>

  <!-- Get rid of the status attribute. It seems like it is duplicative. -->
  <define name="f-component-pattern">
    <element name="f-component">
      <a:document>
        Specifies a component under Security Functional Requirements section..
      </a:document>
      <ref name="f-comp-content-pat"/>
      <choice>
	      
        <!-- Choice of status -->
        <!-- If the status is objective, it must have a targetdate(?) -->
        <group>
          <optional>
            <attribute name="targetdate">
              <a:documentation>
                Target date that the requirements under this component become
                manandory. It only makes sense for _objective_ components.
              </a:documentation>
              <data type="date"/>
            </attribute>
          </optional>
          <attribute name="status">
            <a:documentation>
              Denotes the status of a requirement.
            </a:documentation>
            <value>objective</value>
          </attribute>
        </group>

	      
        <!-- If the status is selection-based, it must have dependencies -->
        <group>
          <attribute name="status">
            <a:documentation>
              Denotes the status of a requirement.
            </a:documentation>
            <value>sel-based</value>
          </attribute>
          <oneOrMore>
            <ref name="selection-depends"/>
          </oneOrMore>
        </group>

	<!-- Feature-based -->
        <group>
          <attribute name="status">
            <a:documentation>
              Feature-based requirements must have dependencies.
            </a:documentation>
            <value>feat-based</value>
          </attribute>
          <oneOrMore>
            <ref name="depends-pat"/>
          </oneOrMore>
        </group>
	      
        <!-- The status could also be optional or nothing (which is indicated here) -->
        <optional>
          <attribute name="status">
            <a:documentation>
              Denotes the status of a requirement.
            </a:documentation>
            <choice>
              <value>optional</value>
            </choice>
          </attribute>
        </optional>
      </choice>
<!--      <ref name="depends-pat"/>   -->
      <optional><ref name="note"/></optional>
      <optional><ref name="consistency-rationale"/></optional>
      <optional><ref name="ext-comp-extra-pat"/></optional>
      <ref name="f-elements-pat"/>
      <ref name="audit-events-pat"/>
    </element>
  </define> 

  <define name="f-component-decl-pattern">
    <element name="f-component-decl">
      <a:document>
        Specifies a component declaration. This is intended for use when a PP defines audit events for
        an SFR that is in a package. This provides a place to anchor the audit events. There are no elements.
        There is status.
      </a:document>
      <ref name="f-comp-content-pat"/>
      <attribute name="pkg-id">
         <a:documentation>Identifier for package this SFR comes from (e.g. "pkg_tls").</a:documentation>
         <data type="string">
           <param name="pattern">[\-a-zA-Z0-9_]+</param>
         </data>
      </attribute>
      <choice>
        <group>
          <attribute name="status">
            <a:documentation>
              Sel-based requirements.
            </a:documentation>
            <value>sel-based</value>
          </attribute>
          <oneOrMore>
            <ref name="selection-depends"/>
          </oneOrMore>
        </group>
        <optional>
          <attribute name="status">
            <a:documentation>
              And the rest of the possible statuses.
            </a:documentation>
            <choice>
                <value>optional</value>
                <value>objective</value>
                <value>mandatory</value>
            </choice>
          </attribute>
         </optional>
       </choice>
      <ref name="audit-events-pat"/>
    </element>
</define> 
	
	
  <define name="f-elements-pat">
    <zeroOrMore>
      <ref name="f-element"/>
    </zeroOrMore>
  </define>

  <define name="f-element">
    <element name="f-element">
      <a:documentation>
        Defines a functional requirement.
      </a:documentation>
      <optional>
        <attribute name="id">
          <a:documentation>
            A non-viewed unique ID. It has nothing to do with the ID that's assigned. It can be 
            something like 'has-req-1' or "barry".
          </a:documentation>
          <ref name="el-id-spat"/>
        </attribute>
      </optional>
      <ref name="f-element-title"/>
	  <optional><element name="ext-comp-def-title"><ref name="f-element-title"/></element></optional>
      <optional><ref name="note"/></optional>
      <optional><ref name="aactivity"/></optional>
      <zeroOrMore><ref name="or"/></zeroOrMore>
    </element>
  </define>

<define name="test-obj-evi-pat">
    <optional> <element name="test-obj">
       <a:documentation>Describes the goal of the test </a:documentation>
       <ref name="basic-content-pat"/>
    </element> </optional>
    <optional> <element name="evidence">
       <a:documentation>Describes what body of evidence should look like from the lab.</a:documentation>
       <ref name="basic-content-pat"/>
    </element> </optional>
  </define>

  <define name="testlist">
    <element name="testlist">
      <a:documentation>
        Defines a lists of tests to evaluate a requirement.
      </a:documentation>
      <oneOrMore>
        <choice>
          <ref name="basic-content-pat"/>
          <element name="test">
            <a:documentation>
              Denotes a single test.
            </a:documentation>
             <oneOrMore>
              <choice>
                <ref name="basic-content-pat"/>
                <ref name="testlist"/>
                <ref name="steplist"/>
              </choice>
            </oneOrMore>
            <ref name="test-obj-evi-pat"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="steplist">
    <element name="steplist">
      <a:documentation>
        Defines a list of steps to perform a test.
      </a:documentation>
      <oneOrMore>
        <choice>
          <ref name="basic-content-pat"/>
          <element name="step">
            <a:documentation>
              Denotes a single step.
            </a:documentation>
            <oneOrMore>
              <choice>
                <ref name="basic-content-pat"/>
                <ref name="steplist"/>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="refinement-type">
    <a:documentation>
      Denotes a refinement.
    </a:documentation>
    <element name="refinement">
      <ref name="basic-content-pat"/>
    </element>
  </define>

  <define name="section">
    <choice>
      <ref name="classic-section"/>
      <ref name="flex-section"/>
    </choice>
  </define>

  <define name="classic-section">
    <element name="section">
      <a:documentation>
	Lower level of grouping
      </a:documentation>
      <ref name="title-attr"/>
      <optional><ref name="id-attr"/></optional>
      <ref name="section-content-pat"/>
    </element>
  </define>

  <define name="section-content-pat">
     <oneOrMore><choice>
       <ref name="section"/>
       <ref name="basic-content-pat"/>
     </choice></oneOrMore>
  </define>

  <define name="flex-section">
    <a:documentation>
      A new flexiable section
    </a:documentation>
    <element ns="https://niap-ccevs.org/cc/v1/section">
      <anyName>
        <except>
          <nsName ns="https://niap-ccevs.org/cc/v1"/>
          <nsName ns="http://www.w3.org/1999/xhtml"/>
        </except>
      </anyName>
      <optional><ref name="title-attr"/></optional>
       <ref name="section-content-pat"/>
    </element>
  </define>
  
  <define name="aactivity">
    <element name="aactivity">
      <a:documentation>
Element containing an Assurance Activity. TSS, Guidance, and Tests tags MUST now encapsulate (rather than precede) their content. 
The page at http://commoncriteria.github.io/Encapsulator.html may be helpful.
      </a:documentation>
      <ref name="basic-content-pat"/>
      <choice>
        <ref name="no-tests-pat"/>
        <group>
          <ref name="TSS"/>
          <optional>
            <ref name="Guidance"/>
          </optional>
          <optional>
            <ref name="Tests"/>
          </optional>
        </group>
        <group>
          <ref name="Guidance"/>
          <optional>
            <ref name="Tests"/>
          </optional>
        </group>
        <group>
            <ref name="Tests"/>
        </group>
      </choice>
    </element>
  </define>

  <define name="no-tests-pat">
     <element name="no-tests">
	<a:documentation>
		Empty evaluation activity. The tag contents can be displayed.
        </a:documentation>
        <ref name="basic-content-pat"/>
     </element>
  </define>
	
  <define name="aactivity-sar">
      <element name="aactivity-sar">
        <a:documentation>
            Evaluation Activity for a SAR.
        </a:documentation>
        <ref name="basic-content-pat"/>
      </element> 
    </define>

  <define name="TSS">
    <element name="TSS">
      <a:documentation>
        Denotes a TSS section.
      </a:documentation>
      <ref name="basic-content-pat"/>
    </element>
  </define>
  <define name="Guidance">
    <element name="Guidance">
      <a:documentation>
        Denotes a Guidance section.
      </a:documentation>
      <ref name="basic-content-pat"/>
    </element>
  </define>
  <define name="Tests">
    <element name="Tests">
      <a:documentation>
        Denotes a tests section.
      </a:documentation>
      <ref name="basic-content-pat"/>
      <ref name="test-obj-evi-pat"/>
    </element>
  </define>
  <define name="threats">
    <element name="threats">
      <a:documentation>
      </a:documentation>
      <oneOrMore>
        <element name="threat">
          <a:documentation>
            Defines a threat.
          </a:documentation>
          <ref name="threat-name-attr"/>
          <ref name="origin-pat"/>
          <oneOrMore>
            <ref name="objective-refer"/>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>
 
  
  <define name="assumptions">
    <element name="assumptions">
      <a:documentation>
        Grouping of assumptions.
      </a:documentation>
      <zeroOrMore>
        <element name="assumption">
          <a:documentation>
            Describes assumptions made.
          </a:documentation>
          <optional><ref name="id-attr"/></optional>
          <attribute name="name">
            <a:documentation>
              Identifying name of the assumption.
            </a:documentation>
            <data type="string">
              <param name="pattern">A\.[A-Z_]+</param>
            </data>
          </attribute>
          <ref name="origin-pat"/>
          <oneOrMore><ref name="objective-refer"/></oneOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="origin-pat">
     <a:documentation>Defined so that Module can overwrite it with a choice </a:documentation>
     <ref name="description"/>
  </define>
  
  <define name="OSPs">
    <element name="OSPs">
            <a:documentation>
              Grouping for Organizational Security Policies
      </a:documentation>

            <oneOrMore>
              <element name="OSP">
                <optional><ref name="id-attr"/></optional>
                <attribute name="name">
                <data type="string">
                  <param name="pattern">P\.[A-Z_]+</param>
                </data>
               </attribute>
                <ref name="origin-pat"/>
          <oneOrMore>
            <ref name="objective-refer"/>
          </oneOrMore>
              </element>
            </oneOrMore>
    </element>
  </define>

  <define name="osp-section">
    <element name="section">
      <a:documentation>
        Section describing Organizational Security Policies
      </a:documentation>
      <attribute name="title"><value>Organizational Security Policies</value></attribute>
      <ref name="id-attr"/>
      <ref name="basic-content-pat"/>
      <zeroOrMore>
        <ref name="OSPs"/>
      </zeroOrMore>
    </element>
  </define>


  <define name="description">
    <element name="description">
      <a:documentation>
      </a:documentation>
      <ref name="basic-content-pat"/>
    </element>
  </define>


  <define name="selection-depends">
      <element name="selection-depends">
        <a:documentation>
          Defines the other requirements whose selection affects whether this component must be also applied.
        </a:documentation>
        <attribute name="req">
          <a:documentation>
            The value of the id attribute of the requirement is component depends on.
          </a:documentation>
          <ref name="el-id-spat"/>
        </attribute>
        <attribute name="ids">
          <a:documentation>
            A comma delimited list of IDs corresponding to specific 'selectable's which if chosen
            activate this component.
          </a:documentation>
        </attribute>
	<optional>
          <attribute name="ext-src">
          <a:documentation>
            Identifier for the external package/module/PP in which the selectable and req is found. Default is the current PP.
	    This must be a package or PP or module that is declared in the Package Inclusion Section.
          </a:documentation>
          </attribute>
        </optional>
      </element>
  </define>

<!--#####################################################-->
<!-- Setion for simple patterns (spat)                   -->
<!--#####################################################-->
  <define name="el-id-spat">
    <data type="string">
      <param name="pattern">[\-0-9a-zA-Z]+</param>
    </data>
  </define>

  <define name="fam-id-spat">
     <data type="string">
       <param name="pattern">F[A-Z][A-Z]_[A-Z0-9^]{2,10}_EXT</param>
     </data>
  </define>

  <define name="comp-id-respat">
    <data type="string">
      <param name="pattern">f[a-z]{2}_[a-z0-9^]{2,10}(_ext)?\.[0-9]</param>
    </data>
  </define>

  <define name="comp-id-upper-respat">
    <data type="string">
      <param name="pattern">F[A-Z]{2}_[A-Z0-9^]{2,10}(_EXT)?\.[0-9]</param>
    </data>
  </define>

  <define name="sfr-section">
    <choice>
      <element name="section">
        <attribute name="title"><value>Security Functional Requirements</value></attribute>
	<attribute name="id"/>
        <ref name="sfr_content-pat"/>
      </element>
      <element name="sec:Security_Functional_Requirements">
        <ref name="sfr_content-pat"/>
      </element>
      <element ns="https://niap-ccevs.org/cc/v1/section">
        <anyName>
          <except>
            <nsName ns="https://niap-ccevs.org/cc/v1"/>
            <nsName ns="http://www.w3.org/1999/xhtml"/>
          </except>
        </anyName>
        <attribute name="title"><value>Security Functional Requirements</value></attribute>
        <ref name="sfr_content-pat"/>
      </element>
    </choice>
  </define>

  <define name="sfr_content-pat">	
    <oneOrMore><choice>
      <element name="section">
        <attribute name="title"/>
        <optional><attribute name="id"/></optional>
        <ref name="sfr-sections-content-pat"/>
      </element>
      <element ns="https://niap-ccevs.org/cc/v1/section">
        <anyName><except>
          <nsName ns="https://niap-ccevs.org/cc/v1"/>
          <nsName ns="http://www.w3.org/1999/xhtml"/>
        </except></anyName>
        <optional><attribute name="title"/></optional>
        <ref name="sfr-sections-content-pat"/>
      </element>
     </choice> </oneOrMore>
   </define>

   <define name="sfr-sections-content-pat">
	    <ref name="basic-content-pat"/>
	    <oneOrMore>
	      <choice>
	        <ref name="audit-table-pat"/>
                <ref name="f-component-pattern"/>
	      </choice>
	    </oneOrMore>
  </define>
 
  <define name="f-comp-content-pat">
    <attribute name="cc-id">
      <a:documentation>
        The ID without the iteration.
      </a:documentation>
      <ref name="comp-id-respat"/>
    </attribute>
    <attribute name="name">
      <a:documentation>
        Readable title for this requirement.
      </a:documentation>
    </attribute>
    <optional>
      <ref name="id-attr"/>
    </optional>
    <ref name="iteration-pat"/>
  </define>

  <define name="iteration-pat">
    <optional>
      <attribute name="iteration">
        <a:documentation>
        </a:documentation>
        <data type="string">
          <param name="pattern">[A-Z0-9_]+</param>
        </data>
      </attribute>
    </optional>
  </define>

  <define name="f-element-title">
    <element name="title">
      <a:documentation>
        Contains the formal wording for the requirement (either for a-elements or f-elements).
        Must match requirements in CC Part 2 (unless it is an _ext requirement).
      </a:documentation>
      <oneOrMore><choice>
      <!--  <ref name="selectables"/>
        <ref name="assignable"/> -->
        <ref name="basic-content-pat"/>
        <ref name="management-function-set"/>
      </choice></oneOrMore>
    </element>
  </define>

  <define name="CClaimsChapter">
    <choice>
      <element name="section">
         <attribute name="title"><value>Conformance Claims</value></attribute>
         <ref name="id-attr"/>
         <ref name="cclaims-content-pat"/>
      </element>
      <element name="sec:Conformance_Claims">
         <ref name="cclaims-content-pat"/>
      </element>
      <element ns="https://niap-ccevs.org/cc/v1/section">
        <anyName><except>
          <nsName ns="https://niap-ccevs.org/cc/v1"/>
          <nsName ns="http://www.w3.org/1999/xhtml"/>
        </except></anyName>
 	<attribute name="title"><value>Conformance Claims</value></attribute>
        <ref name="cclaims-content-pat"/>
      </element>
  </choice>
  </define>




  <define name="cclaims-content-pat">
      <a:documentation>
      </a:documentation>
     <ref name="boilerplate-no-attr"/>
      <optional>
        <element name="cclaims">
          <a:documentation>
          </a:documentation>
          <oneOrMore>
            <element name="cclaim">
              <a:documentation>
              </a:documentation>
              <attribute name="name"/>
              <ref name="description"/>
            </element>
          </oneOrMore>
        </element>
      </optional>
  </define>



  <define name="management-function-set">
    <element name="management-function-set">
      <a:documentation>
        Table defining functions that are to be done and what role is required to do them.
      </a:documentation>
      <attribute name="default">
        <a:documentation>Is the default value(index).</a:documentation>
        <choice>
         <!-- <value>M</value>--><!-- It cant be M for now as we're checking it to see if the funciton is optional -->
          <value>O</value>
          <value>_</value>
        </choice>
      </attribute>
      <oneOrMore>
        <element name="manager">
          <a:documentation>
            Readable role name
          </a:documentation>
          <attribute name="cid">
            <a:documentation>
              Chart ID unique to this management-function-set. Cross-referenced by the O,M,_ elements
              in the management-function.
            </a:documentation>
          </attribute>
          <text/>
        </element>
      </oneOrMore>
      <oneOrMore>
        <choice> 
          <element name="note"><element name="aactivity"><ref name="basic-content-pat"/></element></element>
          <ref name="management-function"/>   
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="management-function">
        <element name="management-function">
          <optional>
            <ref name="id-attr"/>
          </optional>
          <element name="text">
            <a:documentation>Describes the management function.</a:documentation>
            <ref name="basic-content-pat"/>
          </element>
          <zeroOrMore> <choice>
              <element name="M">
                <a:documentation>Indicates that this function is mandatory for this role.</a:documentation>
                <ref name="ref-attr"/>
              </element>
              <element name="O">
                <a:documentation>Indicates that this function is optional for this role</a:documentation>
                <ref name="ref-attr"/>
              </element>
              <element name="NA">
               <a:documentation>Indicates that this function is not applicable for this role</a:documentation>
                <ref name="ref-attr"/>
              </element>
          </choice> </zeroOrMore>
          <optional><element name="app-note">
            <a:documentation>Application Note content that is associated with this management function</a:documentation> 
            <ref name="basic-content-pat"/>
          </element></optional>
<!-- Cant use the regular aactivity unless we want it to include TSS/Tests (which we might) -->
          <optional><element name="aactivity">
            <zeroOrMore>
              <a:documentation>Points to other management-function that this action affects.</a:documentation>
              <element name="also"> <attribute name="ref-id"/> </element>
            </zeroOrMore>
            <ref name="basic-content-pat"/>
          </element></optional>
       </element>
   </define>

   <define name="ref-attr">
    <attribute name="ref">
      <a:documentation>ID respective manager</a:documentation>
    </attribute>
  </define> 

  <define name="optional-id">
    <optional><ref name="id-attr"/></optional>
  </define>

  <define name="id-attr">
    <a:documentation>
      Pattern for the id attribute
    </a:documentation>
    <attribute name="id">
      <a:documentation>A document-wide unique string.</a:documentation>
      <data type="NCName"/>
    </attribute>
  </define>

  <define name="acronyms">
    <element name="acronyms">
      <a:documentation>
        Declares where acronyms are visually defined.
      </a:documentation>
      <empty/>
    </element>
  </define>

  <define name="entry-el">
    <element name="entry">
      <a:documentation>
        Wrapper for terms and descriptions.
      </a:documentation>
      <optional>
        <attribute name="id">
          <a:documentation>
            Unique ID for this entry so it can be linked. 
            If omitted, it can still be linked with the name or term.
          </a:documentation>
        </attribute>
      </optional>
      <choice>
        <element name="name">
          <a:documentation></a:documentation>
          <ref name="basic-content-pat"/>
        </element>
        <element name="term">
          <a:documentation>
            Thing being defined.
          </a:documentation>
          <ref name="basic-content-pat"/>
        </element>
      </choice>

      <element name="description">
        <a:documentation>Description of the term/name.</a:documentation>
        <ref name="basic-content-pat"/>
      </element>
    </element>
  </define>


  <define name="depends-pat">
    <zeroOrMore>
      <element name="depends">
        <a:documentation>
          Modifies the parent element such that it depends on something  else.
        </a:documentation>
        <ref name="implements-or-selection-pat"/>
      </element>
    </zeroOrMore>
  </define>

  <define name="packages">
    <zeroOrMore> <ref name="include-pkg-pat"/></zeroOrMore>
  </define> 

 
  <define name="include-pkg-pat">
	  <element name="include-pkg">
	  	<a:documentation>
		Declarations of packages that are or may be included in the PP. There are three kinds:
		  Mandatory: This is a package that is always included with the PP.
		  	&lt;include-pkg name="pkg-name"/>
		  Selection-Based: This is a package that is included dependent on one or more selections. 
		  &lt;include-pkg name="pkg-name" type="sel-based">
			  &lt;selection-depends req="dep-req" ids="selection-ids"/>
		  &lt;/include-pkg>
		  Feature-Based: Package is included if a feature is present in the TOE.
		  &lt;include-pkg name="pkg-name" type="impl-dep">
			  This is the text displayed for the ST author to indicate that the feature exists.
		  &lt;/include-pkg>
	  	</a:documentation>
             <ref name="external-document-pat"/>
             <ref name="depends-pat"/>
	  </element>
  </define>
  
 
  <define name="external-document-pat">
     <attribute name="product">
	<a:documentation>
	  Name of the product the base PP applies to.
	</a:documentation>
      </attribute>
      <attribute name="version">
      <a:documentation>
       Version number of base PP
       </a:documentation>
       </attribute>
      <attribute name="name">
	<a:documentation>
	  Name of the base PP.
	</a:documentation>
      </attribute>
      <optional><attribute name="plural">
         <a:documentation>
	  Plural name of the product class. By default the framework just adds an 's' to the short.
	</a:documentation>
      </attribute></optional> 
      <attribute name="short">
	<a:documentation>
	  Short name of the base PP.
	</a:documentation>
      </attribute>

      <attribute name="url">
	<a:documentation>
	  URL of the NIAP page for the base PP.
	</a:documentation>
      </attribute>

      <optional>
        <attribute name="xmlurl">
          <a:documentation>
URL of the XML defining the base PP (if it exists).
Ideally it should be NIAP or CC, but for right now it's probably on github.
          </a:documentation>
        </attribute>
      </optional>
 </define> 

  <define name="implements-or-selection-pat">
     <attribute name="on"><choice><value>implements</value><value>selection</value></choice></attribute>
	  <optional><attribute name="ext-src"/></optional>
     <ref name="ref-ids-pat"/>
  </define> 

  <define name="ref-ids-pat">
     <oneOrMore><ref name="ref-id"/></oneOrMore>
  </define>

  <define name="ref-id">
    <element name="ref-id"><text/></element>
  </define>

  <define name="implements-pat">
    <optional>
      <element name="implements">
        <a:documentation>
          Maps features to Implementation-dependent requiremetns
        </a:documentation>
        <oneOrMore>
          <element name="feature">
            <ref name="id-attr"/>
            <ref name="title-attr"/>
            <ref name="description"/>
          </element>
        </oneOrMore>
      </element>
    </optional>
  </define>

  <define name="use-cases-pat">
    <zeroOrMore>
      <element name="use-case">
        <ref name="id-attr"/>
        <ref name="title-attr"/>
        <ref name="description"/>
        <optional><ref name="config"/></optional>
      </element>
    </zeroOrMore>
  </define>
  
  <define name="config">
    <element name="config">
       <ref name="and-pat"/>   
    </element>
  </define>             

<!--
  <define name="ext-doc-config">
    <optional>
       <element name="doc">
         <attribute name="name"/>
         <ref name="doc-config-pat"/>
       </element>
    </optional>
  </define> 

  <define name="doc-config-pat">
       <a:documentation>
          Specifies the details of a configuration. It's meant to be displayed in row-form.
       </a:documentation>
       <zeroOrMore>
        <choice>
          <ref name="config-groups"/>
       </choice>
       </zeroOrMore> 
  </define>   
-->
  <define name="or">
    <element name="or">
      <zeroOrMore><choice>
        <ref name="and"/>
        <ref name="ref-ids-pat"/>
        <ref name="guidance"/>
        <ref name="not"/>
      </choice></zeroOrMore>
    </element>
  </define>

  <define name="and">
    <element name="and">
      <ref name="and-pat"/>
    </element>
  </define>
  
  <define name="and-pat">
    <zeroOrMore><choice>
      <ref name="or"/>
      <ref name="ref-ids-pat"/>
      <ref name="not"/>
      <ref name="guidance"/>
    </choice></zeroOrMore>
  </define>

  <define name="not">
    <element name="not">
      <ref name="ref-ids-pat"/>
    </element>
  </define>

  <define name="guidance">
    <element name="guidance">
      <ref name="ref-id"/>
      <ref name="basic-content-pat"/>
    </element>
   </define>

  <define name="Chapters">
    <zeroOrMore><ref name="Chapter"/></zeroOrMore>
  </define>

  <define name="Chapter">
    <element name="section">
      <a:documentation>Major grouping for the document.</a:documentation>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <ref name="boilerplate-no-attr"/>
      <oneOrMore>
        <choice>
          <ref name="basic-content-pat"/>
          <ref name="section"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="RevisionHistory">
    <oneOrMore>
        <element name="RevisionHistory">
          <a:documentation>Documents the major changes to releases.</a:documentation>
          <zeroOrMore>
            <element name="entry">
              <a:documentation>Container for individual revisions.</a:documentation>
              <element name="version">
                <a:documentation>Text describing the revision.</a:documentation>
                <text/>
              </element>
              <element name="date">
                <a:documentation>Date of the revision.</a:documentation>
                <data type="date"/>
              </element>
              <element name="subject">
                <a:documentation>Description of the revision.</a:documentation>
                <ref name="basic-content-pat"/>
              </element>
            </element>
          </zeroOrMore>
        </element>
      </oneOrMore>
  </define>
	
  <define name="consistency-rationale">
    <element name="consistency-rationale">
      <a:documentation>
	Common rationale that will go into the consisteny-rationale in each base-pp
	section (unless the base redefines it).
      </a:documentation>
      <oneOrMore>
	<choice>
	  <ref name="basic-content-pat"/>
	  <ref name="base-name"/>
	</choice>
      </oneOrMore>
    </element>
  </define>

  
</grammar>
