schemas/Commons.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
    xmlns:h="http://www.w3.org/1999/xhtml" 
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    ns="https://niap-ccevs.org/cc/v1" 
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<!--
  <define name="audit-event">
    <a:documentation></a:documentation>
    <element name="audit-event">
      <element name="sfr>
         <attribute name="ref"/>
         <empty/>
      </element>
      <element name="
    </element>
  </define>
-->
  <define name="title-attr">
    <a:documentation>
      Pattern for title attribute.
    </a:documentation>
    <attribute name="title">
      <a:documentation>Header that is visible to the user.</a:documentation>
    </attribute>
  </define>

  <define name="boilerplate-no-attr">
    <a:documentation>
      Attribute to stifle boilerplate text from being included in this section.
    </a:documentation>
    <optional>
      <attribute name="boilerplate">
        <value>no</value>
      </attribute>
    </optional>
  </define>

  <define name="bibliography">
    <element name="bibliography">
      <a:documentation>
        Section to define the items references.
      </a:documentation>
      <oneOrMore>
        <choice>
          <element name="cc-entry">
            <a:documentation>
              Inserts the Common Criteria documents.
            </a:documentation>
            <empty/>
          </element>

          <element name="entry">
            <a:documentation>
              Groups bibliograph entries.
            </a:documentation>
            <ref name="id-attr"/>
            <element name="tag">
              <a:documentation>
                A visible bibliography-wide unique identifier.
              </a:documentation>
              <ref name="basic-content-pat"/>
            </element>
            <ref name="description"/>
          </element>
          
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="tech-terms">
      <element name="tech-terms">
        <a:documentation>
Section that defines both technical terms and acronyms.
If it's only an acronym make sure the text content is empty.
        </a:documentation>
        <zeroOrMore>
          <element name="term">
            <attribute name="full"/>
            <optional><attribute name="abbr"/></optional>
            <ref name="basic-content-pat"/>
          </element>
        </zeroOrMore>
      </element>
  </define>

  <define name="citeCC">
    <element name="citeCC">
      <a:documentation>Cites the CC documents.</a:documentation>
      <empty/>
    </element>
  </define>

  <define name="cite">
    <element name="cite">
      <a:documentation>Cites something in the bibliography.</a:documentation>
      <ref name="linkend-attr"/>
    </element>
  </define>

  <define name="linkref">
    <element name="linkref">
      <a:documentation>Cross references components </a:documentation>
      <ref name="linkend-attr"/>
    </element>
  </define>

  <define name="secref">
    <element name="secref">
      <a:documentation>References a section (Adds word 'section').</a:documentation>
      <ref name="linkend-attr"/>
    </element>
  </define>

  <define name="xref">
    <element name="xref">
      <a:documentation>
        Cross references something 
        <h:ul>
          <h:li>with a title attribute,</h:li> 
          <h:li>with a name attribute, </h:li>
          <h:li>with a term element, or </h:li>
          <h:li>a term element, where its contents(i.e. name) matches the linkend-attr.</h:li>
          <h:li>OR other. See xref-content-pattern for more information</h:li>
        </h:ul>
      </a:documentation>
      <ref name="xref-content"/>
    </element>
  </define>

  <define name="xref-content">
    <ref name="linkend-attr"/>
  </define>

  <define name="appref">
    <element name="appref">
      <a:documentation>Cross references an item in the appendex</a:documentation>
      <ref name="linkend-attr"/>
    </element>
  </define>

  <define name="audit-events-pat">
    <zeroOrMore>
      <element name="audit-event">
        <ref name="basic-content-pat"/>
        <optional>
          <element name="add-info">
            <ref name="basic-content-pat"/>
          </element>
        </optional>
      </element>
    </zeroOrMore>
  </define>

  <define name="html-element">
    <a:documentation>
      Pattern defines the html-element, which is any element in the xhtml namespace.
      They have no knowledge of the CC element, and so cannot have any CC descendants.
    </a:documentation>
    <element ns="http://www.w3.org/1999/xhtml">
      <anyName>
        <except>
          <nsName ns="https://niap-ccevs.org/cc/v1"/>
        </except>
      </anyName>
      <a:documentation>
        Defines all html-elements with an optional number of html attributes and descendants.
      </a:documentation>
      <zeroOrMore>
        <attribute>
          <anyName/>
        </attribute>
      </zeroOrMore>
      <ref name="basic-content-pat"/>
    </element>
  </define>

  <define name="linkend-attr">
    <attribute name="linkend">
      <a:documentation>References an ID of the referenced item.</a:documentation>
      <!--      <data type="NCName"/> -->
    </attribute>
  </define>

  <define name="abbr-el">
    <element name="abbr">
      <optional>
        <attribute name="linkend">
          <a:documentation>
            Identifies the abbreviation definition (should match the text value of the entry).
          </a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="title">
          <a:documentation>
            Full readable definition of the abbreviation.
          </a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="class">
          <a:documentation>
            Display class associated with this abbreviation.
          </a:documentation>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>

  <define name="assignable">
    <element name="assignable">
      <a:documentation>
        Assignment section
      </a:documentation>
      <ref name="basic-content-pat"/>
    </element>
  </define>


  <define name="ctr-ref">
    <element name="ctr-ref">
      <a:documentation>
        References a counted object.
      </a:documentation>
      <attribute name="refid">
        <a:documentation>
          The unique ID of the object being referenced.
        </a:documentation>
      </attribute>
    </element>
  </define>

  <define name="ctr">
    <element name="ctr">
      <attribute name="id">
        <a:documentation>
          Unique ID for this object.
        </a:documentation>
      </attribute>

      <attribute name="ctr-type">
        <a:documentation>
          References the counter family. If no prefix is given, this value
          plus a space is used as the prefix.
        </a:documentation>
      </attribute>
      <optional>
        <attribute name="pre">
          <a:documentation>
            Text that goes before the counter (e.g. 'Table ').
            If it's not present, this value is "@ctr-type" + " " 
          </a:documentation>
        </attribute>
      </optional>
      <ref name="basic-content-pat"/>
    </element>
  </define>

  <define name="figure">
    <element name="figure">
      <a:documentation>
        Tag allow that inserts a picture.
      </a:documentation>
      <optional>
        <attribute name="pre">
          <a:documentation>
            Text that goes before the counter (e.g. 'Figure '). It will be included in every reference. By default it is 'Figure '.
          </a:documentation>
        </attribute>
      </optional>
      <attribute name="entity">
        <a:documentation>
          Path to the image file.
        </a:documentation>
      </attribute>
      <ref name="id-attr"/>
      <ref name="title-attr"/>
      <optional>
        <attribute name="max-width"/>
      </optional>
    </element>
  </define>

  <define name="figref">
    <element name="figref">
      <a:documentation>
        References a figure
      </a:documentation>
      <attribute name="refid">
        <a:documentation>
          Contains the ID of the figure being referenced.
        </a:documentation>
      </attribute>
    </element>
  </define>

  <define name="selectables">
    <element name="selectables">
      <a:documentation>
        A grouping of selectable elements.
      </a:documentation>
      <optional>
        <attribute name="onlyone">
          <a:documentation>
            Designates that at only one item may be selected.
          </a:documentation>
          <choice><value>yes</value></choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="linebreak">
          <a:documentation>
            Indicates that new lines should be appended to every selectable.
          </a:documentation>
          <choice><value>yes</value></choice>
        </attribute>
      </optional>
      <ref name="selectable-group"/>
    </element>
  </define>



  <define name="selectable-single">
    <element name="selectable">
      <a:documentation>
        Denotes the start of a selectable in a selectables section.
      </a:documentation>
      <optional>
        <attribute name="exclusive"><choice><value>yes</value></choice></attribute>
      </optional>
      <optional>
        <ref name="id-attr"/>
      </optional>
      <zeroOrMore>
        <element name="requires">
          <a:documentation>
            Denotes a selection-based element that is required should this selection chosen.
          </a:documentation>
          <attribute name="req">
            <a:documentation>
              The ID of the required element.
            </a:documentation>
          </attribute>
        </element>
      </zeroOrMore>
      <ref name="basic-content-pat"/>
    </element>
  </define>


  <define name="selectable-group">
    <ref name="selectable-single"/>
    <oneOrMore>
      <ref name="selectable-single"/>
    </oneOrMore>
  </define>

  <define name="objective-refer">
    <element name="objective-refer">
      <a:documentation>Element that denotes an objective</a:documentation>
      <attribute name="ref">
        <a:documentation>Attribute the references the id of a specific objective.</a:documentation>
        <data type="NCName">
          <param name="pattern">O(E?)\.[_A-Z]+</param>
              </data>
      </attribute>
      <element name="rationale">
              <a:documentation>Argument as to why the objective applies</a:documentation>
              <ref name="basic-content-pat"/>
      </element>
    </element>
  </define>

  <define name="note">
    <element name="note">
      <a:documentation>
        Any further instructions associated with the requirement.
      </a:documentation>
      <optional>
        <attribute name="role">
          <a:documentation>Indicates who is associated with this role</a:documentation>
          <choice>
            <value>application</value><value>Application</value>
            <value>developer</value><value>Developer</value>
          </choice>
        </attribute>
      </optional>
      <ref name="basic-content-pat"/>
    </element>
  </define>

  <define name="SOs">
    <element name="SOs">
      <a:documentation>
        Grouping for Security Objective entries.
      </a:documentation>
      <oneOrMore>
        <ref name="SO"/>
      </oneOrMore>
    </element>
  </define>

  <define name="SOEs">
    <element name="SOEs">
      <a:documentation>
Grouping for Security Objective for the Operation Environment entries.
      </a:documentation>
      <oneOrMore>
        <element name="SOE">
             <ref name="id-attr"/>
             <ref name="description"/>
           </element>
      </oneOrMore>
    </element>
  </define>



  <define name="SO">
    <element name="SO">
      <a:documentation>
        Entry for a security objective
      </a:documentation>
      <ref name="id-attr"/>
      <ref name="description"/>
      <element name="addressed-by">
        <ref name="basic-content-pat"/>
      </element>
    </element>
  </define>

  <define name="basic-content-pat">
    <a:documentation>
      Content that can go anywhere (Although some items are only suitable for title elements).
    </a:documentation>
    <oneOrMore>
      <choice>
        <text/>
        <ref name="html-element"/>
        <ref name="linkref"/>
        <ref name="citeCC"/>
        <ref name="cite"/>
        <ref name="secref"/>
        <ref name="testlist"/>
        <ref name="selectables"/>
        <ref name="assignable"/>
        <ref name="appref"/>
        <ref name="abbr-el"/>
        <ref name="xref"/>
        <ref name="refinement-type"/>
        <ref name="ctr-ref"/>
        <ref name="ctr"/>
        <ref name="figure"/>
        <ref name="figref"/>
        <ref name="TSS"/>
        <ref name="Guidance"/>
        <ref name="Tests"/>
        <ref name="wsn"/>
        <element name="no-abbr">
           <a:documentation>Stops automatic abbreviation, component, and element identification in the children.</a:documentation>
            <ref name="basic-content-pat"/>
        </element>
        <ref name="custom-basic-content-pat"/>
      </choice>
    </oneOrMore>
  </define>

  <define name="wsn">
    <a:documentation>
      Worksheet notes. Human readable Content that should be included in the worksheet.
      These only make sense in the note elements in the f-elements.
    </a:documentation>

    <element name="wsn">
      <ref name="basic-content-pat"/> 
    </element>
  </define>

  <!-- ###################################################
       This is here so that other schemas that import this 
       can redefine this to add their own items to basic
       content and not redefine all of basic-content.
       ################################################### -->
  <define name="custom-basic-content-pat">
    <empty/>
  </define>

  <define name="f-elements-pat">
    <zeroOrMore>
      <ref name="f-element"/>
    </zeroOrMore>
  </define>


  <define name="f-element">
    <element name="f-element">
      <a:documentation>
        Defines a functional requirement.
      </a:documentation>
      <optional>
        <attribute name="id">
          <a:documentation>
            A non-viewed unique ID. It has nothing to do with the ID that's assigned. It can be 
            something like 'has-req-1' or "barry".
          </a:documentation>
          <data type="string">
            <param name="pattern">[\-0-9a-zA-Z]+</param>
          </data>
        </attribute>
      </optional>
      <ref name="f-element-title"/>
      <optional><ref name="note"/></optional>
      <optional><ref name="aactivity"/></optional>
    </element>
  </define>


  <define name="testlist">
    <element name="testlist">
      <a:documentation>
        Defines a lists of tests to evaluate a requirement.
      </a:documentation>
      <oneOrMore>
        <choice>
          <ref name="basic-content-pat"/>
          <element name="test">
            <a:documentation>
              Denotes a single test.
            </a:documentation>
            <oneOrMore>
              <choice>
                <ref name="basic-content-pat"/>
                <ref name="testlist"/>
                <ref name="steplist"/>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="steplist">
    <element name="steplist">
      <a:documentation>
        Defines a list of steps to perform a test.
      </a:documentation>
      <oneOrMore>
        <choice>
          <ref name="basic-content-pat"/>
          <element name="step">
            <a:documentation>
              Denotes a single step.
            </a:documentation>
            <oneOrMore>
              <choice>
                <ref name="basic-content-pat"/>
                <ref name="steplist"/>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="refinement-type">
    <a:documentation>
      Denotes a refinement.
    </a:documentation>
    <element name="refinement">
      <ref name="basic-content-pat"/>
    </element>
  </define>


  <define name="aactivity">
    <element name="aactivity">
      <a:documentation>
Element containing an Assurance Activity. TSS, Guidance, and Tests tags MUST now encapsulate (rather than precede) their content. 
The page at http://commoncriteria.github.io/Encapsulator.html may be helpful.
      </a:documentation>
      <ref name="basic-content-pat"/>
      <choice>
        <element name="no-tests"><empty/></element>
        <group>
          <ref name="TSS"/>
          <optional>
            <ref name="Guidance"/>
          </optional>
          <optional>
            <ref name="Tests"/>
          </optional>
        </group>
        <group>
          <ref name="Guidance"/>
          <optional>
            <ref name="Tests"/>
          </optional>
        </group>
        <group>
            <ref name="Tests"/>
        </group>
      </choice>
    </element>
  </define>



  <define name="TSS">
    <element name="TSS">
      <a:documentation>
        Denotes a TSS section.
      </a:documentation>
      <ref name="basic-content-pat"/>
    </element>
  </define>
  <define name="Guidance">
    <element name="Guidance">
      <a:documentation>
        Denotes a Guidance section.
      </a:documentation>
      <ref name="basic-content-pat"/>
    </element>
  </define>
  <define name="Tests">
    <element name="Tests">
      <a:documentation>
        Denotes a tests section.
      </a:documentation>
      <ref name="basic-content-pat"/>
    </element>
  </define>

  <define name="assumptions">
    <element name="assumptions">
      <a:documentation>
        Grouping of assumptions.
      </a:documentation>
      <zeroOrMore>
        <element name="assumption">
          <a:documentation>
            Describes assumptions made.
          </a:documentation>
          <attribute name="id">
            <a:documentation>
              An assumption-wide unique ID that is also displayed to the user.
            </a:documentation>
          </attribute>
          <ref name="description"/>
          <oneOrMore>
          <ref name="objective-refer"/>
          </oneOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="OSPs">
    <element name="OSPs">
            <a:documentation>
              Grouping for Organizational Security Policies
      </a:documentation>

            <oneOrMore>
              <element name="OSP">
                <ref name="id-attr"/>
          <ref name="description"/>
          <oneOrMore>
            <ref name="objective-refer"/>
          </oneOrMore>
              </element>
            </oneOrMore>
    </element>
  </define>

  <define name="osp-section">
    <element name="section">
      <a:documentation>
        Section describing Organizational Security Policies
      </a:documentation>
      <attribute name="title"><value>Organizational Security Policies</value></attribute>
      <ref name="id-attr"/>
      <ref name="basic-content-pat"/>
      <zeroOrMore>
        <ref name="OSPs"/>
      </zeroOrMore>
    </element>
  </define>


  <define name="description">
    <element name="description">
      <a:documentation>
      </a:documentation>
      <ref name="basic-content-pat"/>
    </element>
  </define>


  <define name="selection-depends">
      <element name="selection-depends">
        <a:documentation>
          Defines the other requirements whose selection affects whether this component must be also applied.
        </a:documentation>
        <attribute name="req">
          <a:documentation>
            The value of the id attribute of the requirement is component depends on.
          </a:documentation>
          <data type="string">
            <param name="pattern">.+\.[0-9]+\.[0-9]+(\([0-9]+\))?</param>
          </data>
        </attribute>
        <attribute name="ids">
          <a:documentation>
            A comma delimited list of IDs corresponding to specific 'selectable's which if chosen
            activate this component.
          </a:documentation>
        </attribute>
      </element>
  </define>

  <define name="comp-id-respat">
    <data type="string">
      <param name="pattern">f[a-z]{2}_[a-z0-9^]{2,5}(_ext)?\.[0-9]</param>
    </data>
  </define>

  <define name="comp-id-upper-respat">
    <data type="string">
      <param name="pattern">F[A-Z]{2}_[A-Z0-9^]{2,5}(_EXT)?\.[0-9]</param>
    </data>
  </define>

  <define name="f-comp-content-pat">
    <attribute name="id">
      <a:documentation>
        The ID without the iteration.
      </a:documentation>
      <ref name="comp-id-respat"/>
    </attribute>
    <attribute name="name">
      <a:documentation>
        Readable title for this requirement.
      </a:documentation>
    </attribute>
    <ref name="iteration-pat"/>
  </define>

  <define name="iteration-pat">
    <optional>
      <attribute name="iteration">
        <a:documentation>
        </a:documentation>
        <data type="string">
          <param name="pattern">[A-Z0-9_]+</param>
        </data>
      </attribute>
    </optional>
  </define>

  <define name="f-element-title">
    <element name="title">
      <a:documentation>
        Contains the formal wording for the requirement (either for a-elements or f-elements).
        Must match requirements in CC Part 2 (unless it is an _ext requirement).
      </a:documentation>
      <oneOrMore><choice>
        <ref name="basic-content-pat"/>
        <ref name="management-function-set"/>
      </choice></oneOrMore>
    </element>
  </define>

  <define name="CClaimsChapter">
    <element name="chapter">
      <a:documentation>
      </a:documentation>
      <attribute name="title"><value>Conformance Claims</value></attribute>
      <ref name="id-attr"/>
      <optional>
        <element name="cclaims">
          <a:documentation>
          </a:documentation>
          <oneOrMore>
            <element name="cclaim">
              <a:documentation>
              </a:documentation>
              <ref name="title-attr"/>
              <ref name="description"/>
            </element>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>



  <define name="management-function-set">
    <element name="management-function-set">
      <a:documentation>
        Table defining functions that are to be done and what role is required to do them.
      </a:documentation>
      <attribute name="default">
        <a:documentation>Is the default value(index).</a:documentation>
        <choice>
          <value>M</value>
          <value>O</value>
          <value>_</value>
        </choice>
      </attribute>
      <oneOrMore>
        <element name="manager">
          <a:documentation>
            Readable role name
          </a:documentation>
          <attribute name="id">
            <a:documentation>
              ID unique to this management-function-set. Cross-referenced by the O,M,_ elements
              in the management-function.
            </a:documentation>
          </attribute>
          <text/>
        </element>
      </oneOrMore>
      <oneOrMore>
        <element name="management-function">
          <element name="text">
            <a:documentation>Describes the management function.</a:documentation>
            <ref name="basic-content-pat"/>
          </element>
          <zeroOrMore>
            <choice>
              <element name="M">
                <a:documentation>References for which managers this function is mandatory</a:documentation>
                <attribute name="ref">
                  <a:documentation>ID respective manager</a:documentation>
                </attribute>
                <empty/>
              </element>
              <element name="O">
                <a:documentation>References for which managers this function is optional</a:documentation>
                <attribute name="ref">
                  <a:documentation>ID respective manager</a:documentation>
                </attribute>
                <empty/>
              </element>
              <element name="_">
                <a:documentation>References for which managers this function is not applicable</a:documentation>
                <attribute name="ref">
                  <a:documentation>ID respective manager</a:documentation>
                </attribute>
                <empty/>
              </element>
            </choice>
          </zeroOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>


  <define name="id-attr">
    <a:documentation>
      Pattern for the id attribute
    </a:documentation>
    <attribute name="id">
      <a:documentation>A document-wide unique string.</a:documentation>
      <data type="NCName"/>
    </attribute>
  </define>

  <define name="acronyms">
    <element name="acronyms">
      <a:documentation>
        Declares where acronyms are visually defined.
      </a:documentation>
      <empty/>
    </element>
  </define>

  <define name="entry-el">
    <element name="entry">
      <a:documentation>
        Wrapper for terms and descriptions.
      </a:documentation>
      <optional>
        <attribute name="id">
          <a:documentation>
            Unique ID for this entry so it can be linked. 
            If omitted, it can still be linked with the name or term.
          </a:documentation>
        </attribute>
      </optional>
      <choice>
        <element name="name">
          <a:documentation></a:documentation>
          <ref name="basic-content-pat"/>
        </element>
        <element name="term">
          <a:documentation>
            Thing being defined.
          </a:documentation>
          <ref name="basic-content-pat"/>
        </element>
      </choice>
      <element name="description">
        <a:documentation>Description of the term/name.</a:documentation>
        <ref name="basic-content-pat"/>
      </element>
    </element>
  </define>
</grammar>
