schemas/EA.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
    xmlns:sec="https://niap-ccevs.org/cc/v1/section" 
    xmlns:h="http://www.w3.org/1999/xhtml" 
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    ns="https://niap-ccevs.org/cc/v1" 
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
    <a:documentation>
      This file defines the reformed Evaluation Activities structure.
    </a:documentation>



<define name="eactivity-pat">
	<a:documentation>
		Replaces the old aactivity construct. May apply to a component, element, or management function.
			id attr is required. (e.g. "ea-fcs-cop-1-skc-aes-cbc" "ea-mf-radio-control")
			ea-applies-to: Ref to internal or external component, element, mf, or table row that this 
				EA applies to.(optional). Mandatory for table rows and for external.
			ea-objective: descripion of objective of ea
			ea-dependency: Ref to other EAs that this EA depends on (optional)
			ea-None or ea-body
	</a:documentation>

	<element name="eactivity">
		<ref name="id-attr"/>
		<zeroOrMore><ref name="ea-applies-to-pat"/></zeroOrMore>
		<ref name="ea-objective-pat"/>
		<zeroOrMore><ref name="ea-dependency-pat"/></zeroOrMore>
		<choice>
			<ref name="ea-None-pat"/>
			<ref name="ea-body-pat"/>
		</choice>
		<optional><ref name="ea-rationale"/></optional>
	</element>
</define>		


<define name="ea-applies-to-pat">
	<a:documentation>
		Use this tag to specify the entity that the EA applies to. Not needed if the EA is embedded.
		Required for table rows and for Evaluation Methods or Catalog-style documents where the EAs 
		appliy to entities in other documents.
	</a:documentation>
	<element name="ea-applies-to">
		<ref name="ref-id"/>
		<optional><ref name="external-ref-pat"/></optional>
	</element>
</define>
			

<define name="ea-objective-pat"/>
	<a:documentation>
		CC:2022 says, "The objective of performing the evaluation activity shall be stated."
	</a:documentation>
	<element name="ea-objective">
		<ref name="words"/>
	</element>
</define>


<define name="ea-dependency-pat">
	<element name="ea-dependency">
        <a:documentation>
            Indicates that the eactivity depends on some other eactivity.
        </a:documentation>
		<ref name="ref-id"/>
		<optional><ref name="external-document-pat"/></optional>
	</element>
</define>


<define name="ea-None-pat">
	<a:documentation>
		Output custom message or boilerplate that there are no EAs for this SFR. 
	</a:documentation>
	<element name="ea-None">
		<choice>
			<empty/>
			<ref name="words"/>
		</choice>
    </element>
</define>

<define name="ea-body-pat">
	<a:documentation>
		The meat of an EA.
		TSS, Guidance, and Tests sections are mandatory, although may be empty.
		KMD is optional, but also may be empty.
	</a:documentation>
	<ref name="ea-TSS"/>
	<optional><ref name="ea-KMD"/></optional>
	<ref name="ea-Guidance"/>
	<ref name="ea-Tests"/>
</define>

<define name="ea-TSS">
	<a:documentation>
		TSS section is mandatory, although may be empty.
	</a:documentation>
	<element name="ea-TSS">
		<choice>
			<empty/>
			<ref name="words"/>
		</choice>
	</element>
</define>


<define name="ea-KMD">
	<a:documentation>
		KMD section is optional, and may be empty.
	</a:documentation>
	<element name="ea-KMD">
		<choice>
			<empty/>
			<ref name="words"/>
		</choice>
	</element>
</define>


<define name="ea-Guidance">
	<a:documentation>
		Guidance section is mandatory, although may be empty.
	</a:documentation>
	<element name="ea-Guidance">
		<choice>
			<empty/>
			<ref name="words"/>
		</choice>
	</element>
</define>

<define name="ea-Tests">
	<a:documentation>
		Test section is mandatory, although may be empty.
	</a:documentation>
	<element name="ea-Tests">
		<choice>
			<empty/>
			<ref name="ea-Tests-pat"/>
		</choice>
	</element>
</define>


<define name="ea-Tests-pat">
	<a:documentation>
		Tests. Allow any combination of single tests and test lists.
	</a:documentation>
	<optional><ref name="ea-objective-pat"/></optional>
	<oneOrMore>
		<choice>
			<ref name="ea-test-list-pat"/>
			<ref name="ea-test-pat"/>
		</choice>
	</oneOrMore>
	<optional><ref name="ea-criteria"></optional>
</define>


<define name="ea-test-list-pat">
	<a:documentation>
		List of tests. Id is optional. Probably need to do something about numbering.
	</a:documentation>
	<element name="ea-testlist">
		<oneOrMore><ref name="ea-test-pat"/></oneOrMore>
	</element>
</define>

<define name="ea-test-pat">
	<a:documentation>
		Individual tests. May have an id. 
		Objective is optional.
		A test is one or more steps that produce a result that can be compared againt
		criteria to determine whether the criteria are met. That's why there are no
		criteria for test lists. Each test in a test list must have criteria.
	</a:documentation>
	<element name="ea-test">
		<optional><ref name="id-attr"/></optional>
		
		<!-- Objective of the test. Probably shouldn't be optional. -->
		<optional><ref name="ea-objective-pat"/></optional>

        <!-- Tools/competencies needed for the test. These could be at the Test level -->
		<optional><ref name="ea-tools-pat"/></optional>
        <optional><ref name="ea-competencies-pat"/></optional>

		<!-- Format and content for inputs for this test -->
        <ref name="ea-input-pat"/>

		<!-- Setup. Probably should be mandatory -->
        <ref name="ea-setup-pat"/>

		<!-- Series of steps, or just some text -->
		<choice>
			<ref name="ea-steps-pat"/>
			<ref name="ea-test-text"/>
		</choice>

		<!-- Pass/fail criteria -->
        <ref name="ea-criteria-pat"/>  

		<!-- Content and format for evidence -->
        <ref name="ea-reporting-pat"/>    
</define>


<define name="ea-reporting-pat">
	<a:documentation>
		Content and format for evidence.
		Probably needs more structure than this.
	</a:documentation>
	<element name="ea-reporting">
		<words/>
	</element>
</define>



<!-- 
 
                 <ea-Tests>
                     <ea-test>
                        <test-objective>(optional--but should be here or above)
                        <ea-input>(format and content of inputs)
                        <ea-tools>(tools needed)(optional)
                        <ea-competencies>(optional)
                        <ea-test-setup>(i necessary)
                        <ea-steps>
                        <ea-criteria>(for pass-fail)
                        <ea-reporting>Content and Format of test evidence</ea-reporting>
                     </ea-test>
                     <ea-criteria>(for pass-fail)(optional at this level)
                 </ea-Tests>
-->
  


<define name="ea-rationale">
	<a:documentation>
		CC:2022 requires a rationale.
	</a:documentation>
	<element name="ea-rationale">
		<ref name="words"/>
	</element>
</define>

<define name="words">
	<oneOrMore>
		<choice>
			<text/>
	        <ref name="html-element"/>
			<ref name="xref"/>
		</choice>
	</oneOrMore>
</define>


<!----- ------->
  
<define name="test-obj-evi-pat">
    <optional> <element name="test-obj">
       <a:documentation>Describes the goal of the test </a:documentation>
       <ref name="basic-content-pat"/>
    </element> </optional>
    <optional> <element name="evidence">
       <a:documentation>Describes what body of evidence should look like from the lab.</a:documentation>
       <ref name="basic-content-pat"/>
    </element> </optional>
  </define>

  <define name="testlist">
    <element name="testlist">
      <a:documentation>
        Defines a lists of tests to evaluate a requirement.
      </a:documentation>
      <oneOrMore>
        <choice>
          <ref name="basic-content-pat"/>
          <element name="test">
            <a:documentation>
              Denotes a single test.
            </a:documentation>
	    <optional><ref name="id-attr"/></optional>
	    <optional><element name="applies-if">
	      <ref name="and-pat"/>
	    </element></optional>
             <oneOrMore>
              <choice>
                <ref name="basic-content-pat"/>
                <ref name="testlist"/>
                <ref name="steplist"/>
              </choice>
            </oneOrMore>
            <ref name="test-obj-evi-pat"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="steplist">
    <element name="steplist">
      <a:documentation>
        Defines a list of steps to perform a test.
      </a:documentation>
      <oneOrMore>
        <choice>
          <ref name="basic-content-pat"/>
          <element name="step">
            <a:documentation>
              Denotes a single step.
            </a:documentation>
            <oneOrMore>
              <choice>
                <ref name="basic-content-pat"/>
                <ref name="steplist"/>
              </choice>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>

  
  <define name="aactivity">
    <element name="aactivity">
      <a:documentation>
Element containing an Assurance Activity. TSS, Guidance, and Tests tags MUST now encapsulate (rather than precede) their content. 
The page at http://commoncriteria.github.io/Encapsulator.html may be helpful.
      </a:documentation>
	<optional><attribute name="level">
	  <a:documentation>aactivity elements without a level attribute are treated as component level activities.</a:documentation>
	  <choice>
	    <value>component</value>
	    <value>element</value>
	</choice></attribute></optional>
	<ref name="alsos"/>
      <ref name="basic-content-pat"/>
      <choice>
        <ref name="no-tests-pat"/>
        <group>
          <ref name="TSS"/>
          <optional> <ref name="Guidance"/> </optional>
          <optional> <ref name="KMD"/> </optional>
          <optional> <ref name="Tests"/> </optional>
        </group>
        <group>
          <ref name="Guidance"/>
          <optional> <ref name="KMD"/> </optional>
          <optional> <ref name="Tests"/> </optional>
        </group>
        <group>
          <ref name="KMD"/>
          <optional> <ref name="Tests"/> </optional>
        </group>
        <group>
            <ref name="Tests"/>
        </group>
      </choice>
    </element>
  </define>

 
  <define name="TSS">
    <element name="TSS">
      <a:documentation>
        Denotes a TSS section.
      </a:documentation>
      <ref name="basic-content-pat"/>
    </element>
  </define>
  
  <define name="KMD">
    <element name="KMD">
      <a:documentation>
        Denotes a KMD section.
      </a:documentation>
      <ref name="basic-content-pat"/>
    </element>
  </define>
  <define name="Guidance">
    <element name="Guidance">
      <a:documentation>
        Denotes a Guidance section.
      </a:documentation>
      <ref name="basic-content-pat"/>
    </element>
  </define>
	
  <define name="Tests">
    <element name="Tests">
      <a:documentation>
        Denotes a tests section.
      </a:documentation>
      <ref name="basic-content-pat"/>
      <zeroOrMore><ref name="subaactivity"/></zeroOrMore>
      <ref name="test-obj-evi-pat"/>
      <ref name="basic-content-pat"/>
    </element>
  </define>
  <define name="subaactivity">
    <element name="subaactivity">
      <optional><attribute name="ref"/></optional>
      <ref name="basic-content-pat"/>
   </element>
  </define>

	
</grammar>
